os:
- linux
dist: trusty
services:
- docker
language: java
jdk:
- oraclejdk8
sudo: false
cache:
  directories:
  - node
  - node_modules
  - "$HOME/.yarn-cache"
  - "$HOME/.gradle/wrapper"
  - "$HOME/.gradle/caches/modules-2/files-2.1"
env:
  global:
  - NODE_VERSION=6.11.0
  - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
  - SPRING_JPA_SHOW_SQL=false
  - secure: EV6PJPSjMZuqARknmefLNFWO5I3SdaPAbPVifja4Z+2gOiWvNFHHQvMKAgM8UwuN02Qwq7u1Mbe4vBF/BsIArcWSzOB3n8Foy7Efk6/4Kkf8AcIVgwvDTe8TTe81G7IH3q+10B3N2J8iO0kon/7GR25EmlluG8UaP1RANuQTdl0=
  - secure: Fi2t7vytwOg4t6ZTmVtU9xVrrWFFkZlNApqL7uIi81OlJmtg10gCUg1L0Hp5bomQtaZiOhkTuj4A+Udvxq/bHlAs0LYlQUL/nrSz0XKMRaRJH8Ti9G8bJGZvl77PGRjI+Cu/AlcjLYgBGvQunYtmTuJKnh6vsr3dFRF4M9lxs8Y=
  - secure: Tjnu+v8VPgxqVcVvnwL9xVdGRf0WLte3S4vPkr9FjVPsf0sN/75QVZhk2mZMe/HnTW61+0aeW/thjOTwXlG/uZEOBsbRtTkihFqW7Tob4nNTZBOtvfJb5UkD67ak9NyJyX51dlXy3xX+7u4mOSF0oTHJJRma9pic1nSwH4ypEaI=
  - secure: Dc5ljX42EOCiN9s7eCZuwJtowaiqg11FLeAXKcSJAAjzCCp838AUp5xKXMeOkBbPOngGfMZWX+TaEG0Qom0TU26FzDYahnAcBnibWDqAOOVoTPC9XHLEKXUDb+sCvHLnKfHvN7J/F05j8txb6NgQG0oi/fijbxmvH/0LDC1QWFc=
addons:
  ssh_known_hosts:
  - dev.job-room.ch
before_install:
- chmod +x gradlew
- jdk_switcher use oraclejdk8
- java -version
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH=$HOME/.yarn/bin:$PATH
install:
- yarn install
script:
- yarn test
- ./gradlew test jacocoTestReport sonarqube -Pwebpack --stacktrace
after_success:
- bash <(curl -s https://codecov.io/bash)
before_deploy:
- chmod +x .travis/deploy.sh
deploy:
- provider: script
  skip_cleanup: true
  script: ".travis/deploy.sh"
  on:
    branch: develop
- provider: script
  skip_cleanup: true
  script: ".travis/deploy.sh"
  on:
    all_branches: true
    condition: "$TRAVIS_BRANCH =~ ^release.*$"
- provider: script
  skip_cleanup: true
  script: "./gradlew bootJar publish -Pprod -Pgraphite -Pprometheus -Pversion=${TRAVIS_TAG} -x test --stacktrace"
  on:
    tags: true
#Uncomment gatling task when at least one test exists
#after_deploy:
#- sleep 90 && baseURL=https://dev.job-room.ch:8443 ./gradlew -b e2e.gradle gatlingRunAll --stacktrace
notifications:
  webhooks:
    on_success: change
    on_failure: always
    on_start: never
