<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Job-Room account activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.greeting}">
            Hello,
        </p>
        <p th:text="#{email.activation.text1(${user.login})}">
            Your Job-Room account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Activation Link</a>
        </p>
        <p>
            <span th:text="#{email.greeting2}">Regards,</span>
            <br/>
            <em th:text="#{email.signature}">the Job-Room Team</em>
        </p>
    </body>
</html>
