<footer>
    <div class="container">
        <h2 class="light">In Zusammenarbeit</h2>
        <div class="footer--logos">
            <div class="footer--logos__logo"><img class="cd-bund" src="~@alv-ch/alv-styleguide/src/assets/styleguide/images/seco-de-neg.png"></div>
            <div class="footer--logos__logo"><img src="~@alv-ch/alv-styleguide/src/assets/styleguide/images/alv.png"></div>
            <div class="footer--logos__logo"><img src="~@alv-ch/alv-styleguide/src/assets/styleguide/images/rav.png"></div>
            <div class="footer--logos__logo"><img src="~@alv-ch/alv-styleguide/src/assets/styleguide/images/eures.png"></div>
        </div>
    </div>
</footer>
<div class="footer--seco">
    <a href="#">Staatssekretariat für Wirtschaft SECO</a>
    <a href="#">Rechtliche Grundlagen</a>
</div>
