<div class="container mt-md-5">
    <div class="row base">
        <div class="col-12 col-md order-11 order-md-1 base__subnavbar">
            <div class="base__sticky-panel">
                <ul class="pagination pagination--block pagination-alv  d-none d-md-flex">
                    <li class="page-item">
                        <a class="page-link" routerLink="/candidate-search">{{'candidate-detail.back' | translate}}</a>
                    </li>
                </ul>

                <div *ngIf="jobCenter$ | async as jobCenter" class="job-detail__pes alv-logo-box flex-height md-whiteframe-1dp">
                    <div class="candidate-detail__subtitle">{{ 'candidate-detail.job-center.title' | translate }}</div>

                    <div class="candidate-detail__content">
                        <address>
                            <p>
                                <strong>{{ jobCenter.address.name }}</strong><br/>
                                {{jobCenter.address.street}} {{jobCenter.address.houseNumber}}<br/>
                                {{jobCenter.address.zipCode}} {{jobCenter.address.city}}
                            </p>
                        </address>

                        <p>
                            {{'candidate-detail.job-center.phone.label' | translate}} <a href="tel:{{jobCenter.phone}}">{{jobCenter.phone}}</a><br/>
                            {{'candidate-detail.job-center.email.label' | translate}} <a href="mailto:{{jobCenter.email}}">{{jobCenter.email}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="candidateProfile$ | async as candidateProfile" class="col-12 col-md-8 order-3 base__content">
            <div class="candidate-detail__title">
                <h2 class="text--light">{{ (relevantJobExperience$ | async)?.occupation }}</h2>
            </div>

            <div class="candidate-detail__content">
                <span class="badge badge-blue">
                    {{ 'global.reference.canton.' + candidateProfile.residenceCantonCode | translate}}
                </span>
                <span class="badge badge-gray">{{ candidateProfile.workLoad }}%</span>
                <span class="badge badge-yellow">
                    {{ 'candidate-search.availability.' + candidateProfile.availability | translate}}
                </span>
            </div>

            <!-- Occupation -->
            <div *ngIf="candidateProfile.jobExperiences.length" class="candidate-detail__content">
                <h4 class="candidate-detail__content__title candidate-detail__content__title--occupation">{{ 'candidate-detail.job-experience.title' | translate }}</h4>

                <div *ngFor="let jobExperience of jobExperiences$ | async"
                     class="candidate-detail__content candidate-detail--occupation">
                    <div class="content__item">
                        <strong>
                            {{ (jobExperience.lastJob ? 'candidate-detail.job-experience.last-job.label' :
                            'candidate-detail.job-experience.job.label') | translate}}
                        </strong>
                        <span class="text--bold">{{ jobExperience.occupation }}</span>
                    </div>
                    <div *ngIf="isDisplayGraduation(jobExperience.graduation)" class="content__item">
                        <strong>{{ 'candidate-detail.job-experience.graduation.label' | translate }}</strong>
                        <span>{{ 'candidate-detail.graduation.' + jobExperience.graduation | translate }}</span>
                    </div>
                    <div *ngIf="isDisplayDegree(jobExperience.degree)" class="content__item">
                        <strong>{{ 'candidate-detail.job-experience.degree.label' | translate }}</strong>
                        <span>{{ 'global.degree.' + jobExperience.degree | translate }}</span>
                    </div>
                    <div *ngIf="jobExperience.experience" class="content__item">
                        <strong>{{ 'candidate-detail.job-experience.experience.label' | translate }}</strong>
                        <span>{{ 'global.experience.' + jobExperience.experience | translate }}</span>
                    </div>
                    <div *ngIf="jobExperience.remark" class="content__item">
                        <strong>{{ 'candidate-detail.job-experience.description.label' | translate }}</strong>
                        <span>{{ jobExperience.remark }}</span>
                    </div>
                </div>
            </div>


            <!-- Languages -->
            <jr2-languages [languages]="candidateProfile.languages"
                           [containerClass]="'candidate-detail__content'"
                           [titleClass]="'candidate-detail__content__title'"></jr2-languages>

            <!-- Additional information -->
            <div class="candidate-detail__content">
                <h4 class="candidate-detail__content__title">
                    {{ 'candidate-detail.additional-information.title' | translate }}
                </h4>
                <div class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.workForm.label' | translate }}</strong>
                    <span *ngIf="candidateProfile.workForm.length;else empty_workform">
                        <ng-container *ngFor="let workForm of candidateProfile.workForm | keys; last as isLast">
                            {{('candidate-search.workForm.' + workForm.value | translate) + (isLast ? '' : ' ,')}}
                        </ng-container>
                    </span>
                    <ng-template #empty_workform>
                        <span>{{'candidate-detail.additional-information.no-information' | translate}}</span>
                    </ng-template>
                </div>
                <div *ngIf="candidateProfile.gender" class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.gender.label' | translate }}</strong>
                    <span>{{ 'global.gender.' + candidateProfile.gender | translate }}</span>
                </div>
                <div *ngIf="candidateProfile.highestEducationLevel" class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.highestEducationLevel.label' | translate }}</strong>
                    <span>{{ 'global.education.' + candidateProfile.highestEducationLevel | translate }}</span>
                </div>
                <div *ngIf="isDisplayDegree(candidateProfile.highestDegree)" class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.education.label' | translate }}</strong>
                    <span>{{ 'global.degree.' + candidateProfile.highestDegree | translate }}</span>
                </div>
                <div *ngIf="candidateProfile.preferredWorkRegions || candidateProfile.preferredWorkCantons"
                     class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.preferredWorkRegions.label' | translate }}</strong>
                    <span>
                        <p *ngIf="candidateProfile.preferredWorkRegions?.length">
                            <ng-container *ngFor="let region of preferredWorkRegions$ | async | orderBy; let last = last">
                                {{ region }}{{ last ? '' : ', '}}
                            </ng-container>x
                        <p *ngIf="candidateProfile.preferredWorkCantons?.length">
                            <ng-container *ngFor="let canton of preferredWorkCantons$ | async | orderBy; let last = last">
                                {{ canton }}{{ last ? '' : ', '}}
                            </ng-container>
                        </p>
                    </span>
                </div>
                <div *ngIf="candidateProfile.drivingCategories?.length" class="content__item">
                    <strong>{{ 'candidate-detail.additional-information.drivingCategories.label' | translate }}</strong>
                    <span>{{ candidateProfile.drivingCategories.join(', ') }}</span>
                </div>
            </div>

            <div *jhiHasAnyAuthority="['ROLE_PRIVATE_EMPLOYMENT_AGENT', 'ROLE_PUBLIC_EMPLOYMENT_SERVICE']"
                 class="candidate-detail__content">
                <ng-container *ngIf="candidateProtectedData$ | async as candidateProtectedData">
                    <h4 class="candidate-detail__content__title">{{ 'candidate-detail.personal-information.title' | translate }}</h4>
                    <div *ngIf="candidateProtectedData.firstName || candidateProtectedData.lastName" class="content__item">
                        <strong>{{ 'candidate-detail.personal-information.name.label' | translate }}</strong>
                        <span>{{ candidateProtectedData.firstName }} {{ candidateProtectedData.lastName }}</span>
                    </div>
                    <div *ngIf="candidateProtectedData.nationalityCode" class="content__item">
                        <strong>{{ 'candidate-detail.personal-information.nationality.label' | translate }}</strong>
                        <span>{{ candidateProtectedData.nationalityCode }}</span>
                    </div>
                    <div *ngIf="candidateProtectedData.address" class="content__item">
                        <strong>{{ 'candidate-detail.personal-information.address.label' | translate }}</strong>
                        <span>{{ [candidateProtectedData.address.zipCode, candidateProtectedData.address.city, candidateProtectedData.address.street].join(', ') }}</span>
                    </div>
                    <div *ngIf="candidateProtectedData.phone" class="content__item">
                        <strong>{{ 'candidate-detail.personal-information.phone.label' | translate }}</strong>
                        <span><a href="tel:{{candidateProtectedData.phone}}">{{candidateProtectedData.phone}}</a></span>
                    </div>
                    <div *ngIf="candidateProtectedData.email" class="content__item">
                        <strong>{{ 'candidate-detail.personal-information.e-mail.label' | translate }}</strong>
                        <span><a href="mailto:{{candidateProtectedData.email}}">{{candidateProtectedData.email}}</a></span>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="col-12 col-md order-12 base__related">
            <div class="base__sticky-panel">
                <jr2-details-page-pagination [currentItem]="candidateProfile$ | async"
                                             [itemsList]="candidateProfiles$ | async"
                                             [feature]="'candidate-detail'"
                                             [totalSize]="candidateProfileListTotalSize$ | async"></jr2-details-page-pagination>

                <ul class="nav filter-nav flex-column">
                    <li *jhiHasAnyAuthority="['ROLE_PRIVATE_EMPLOYMENT_AGENT', 'ROLE_PUBLIC_EMPLOYMENT_SERVICE']" class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-star-o" aria-hidden="true"></i> {{ 'candidate-detail.candidate-save' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isCopied" ngxClipboard
                           [cbContent]="candidateUrl" (cbOnSuccess)="isCopied = true">
                            <i class="fa fa-share" aria-hidden="true"></i> {{ 'candidate-detail.candidate-copy-link' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="{{'mailto:?body=' + candidateUrl}}">
                           <i class="fa fa-envelope"></i> {{ 'candidate-detail.candidate-send-link' | translate }}
                       </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="printCandidateDetails()">
                            <i class="fa fa-print" aria-hidden="true"></i> {{ 'candidate-detail.candidate-print' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


