<div class="row">
  <div class="col-sm-8">

    <ul class="nav nav-tabs nav--job-room" role="tablist">
      <li *ngFor="let tab of tabs" class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activeTab == tab.type}" (click)="selectTab(tab.type)" role="tab">
          {{ tab.textKey | translate }}
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content--job-room">
      <div class="tab-content" [ngSwitch]="activeTab">
        <div class="tab-pane active" *ngSwitchCase="ToolsTab.CandidateSearch" id="candidate-search" role="tabpanel">
          <jr2-candidate-search-tool></jr2-candidate-search-tool>
        </div>
        <div class="tab-pane active" *ngSwitchCase="ToolsTab.JobPublication" id="job-publication" role="tabpanel">
          <jr2-job-publication-tool></jr2-job-publication-tool>
        </div>
      </div>
    </div>

  </div>
</div>
