@import '../../../content/scss/jbr2_variables.scss';

@media screen and (min-width: 480px){
    .sticky-top {
        position: sticky;
        top: calc(#{$header-alv-height + $header-navbar-height + $toolbar-height} + #{$toolbar-margin-bottom});
        overflow-y: auto;
        height: calc(100vh - (#{$header-alv-height + $header-navbar-height + $toolbar-height} + #{$toolbar-margin-bottom}));
        z-index: 100;
    }
}

:host /deep/ .typeahead-singleselect__type-label--canton {
    background-color: $main-accent-color-400;
}

:host /deep/ .typeahead-singleselect__type-label--locality {
    background-color: $additional-accent-green;
}
