@import '../../../content/scss/jbr2_variables.scss';

@media screen and (min-width: 768px){
    .sticky-top {
        position: sticky;
        top: calc(#{$header-navbar-height + $toolbar-height} + #{$toolbar-margin-bottom});
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - (#{$header-navbar-height + $toolbar-height} + #{$toolbar-margin-bottom}));
        z-index: 100;

        padding-right: .5rem;
    }
}

@media screen and (max-width: 479px){
    .sticky-top {
        margin-right: ($grid-gutter-width / -2);
        margin-left:  ($grid-gutter-width / -2);

        padding-right: ($grid-gutter-width / 2);
        padding-left:  ($grid-gutter-width / 2);

        background-color: rgba($main-color-gray-50, 1.0);
        border-bottom: 1px solid $main-color-gray-lighter;
    }

    /*
    /deep/ jr2-job-search-filter {
        display: block;
        padding-top: ($grid-gutter-width / 2);
    }
    */

    .filter__content {
        display: none;

        &.show {
            display: block;
        }
    }

    .filter--toggler {
        padding: 0 0.75rem 0.75rem;
        font-size: 1rem;
        text-align: center;
        margin: 0;

        &:before {
            display: inline-block;
            margin-right: .5em;
            vertical-align: -0.05em;
            font-family: FontAwesome;
            font-size: inherit;
            content: '\F13A';
        }

        &.show:before {
            content: '\f0aa';
        }
    }
}

/deep/ ss-multiselect-dropdown {
    .dropdown-item a {
        color: $main-color-black;
    }

    button.dropdown-toggle.custom-select {
        height: inherit;
        text-align: left;

        &:after {
            content: none;
        }
    }
}

:host /deep/ .typeahead-singleselect__type-label--canton {
    background-color: $typeahead-color-canton;
}

:host /deep/ .typeahead-singleselect__type-label--locality {
    background-color: $additional-accent-green;
}
