<div class="toolbar toolbar--light md-whiteframe-3dp sticked--top sticked">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form">
                <div class="form-group form-group--wide">
                    <jr2-typeahead-multiselect formControlName="baseQuery"
                                               [itemLoader]="fetchOccupationSuggestions"
                                               [placeHolder]="'job-search.toolbar.occupation.placeholder' | translate"></jr2-typeahead-multiselect>
                </div>
                <div class="form-group form-group--icon">
                    <jr2-typeahead-multiselect formControlName="localityQuery"
                                               [itemLoader]="fetchLocalitySuggestions"
                                               [editable]="false"
                                               [focusFirst]="true"
                                               [placeHolder]="'job-search.toolbar.locality.placeholder' | translate"></jr2-typeahead-multiselect>
                    <jr2-geo-location-select
                        (localitySelect)="handleLocalitySelect($event)"
                        [tooltip]="'job-search.toolbar.locality-select.tooltip' | translate "></jr2-geo-location-select>
                </div>

                <jr2-search-button [loading]="loading"></jr2-search-button>
                <a href="#" class="btn-lg" (click)="resetFilters($event)">{{ 'job-search.toolbar.reset' | translate }}</a>
        </form>
    </div>
</div>
