<div class="toolbar toolbar--light md-whiteframe-3dp sticked--top sticked-item">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form job-search__form">
                <div class="form-group form-group--wide">
                    <jr2-typeahead-multiselect formControlName="baseQuery"
                                               [itemLoader]="fetchOccupationSuggestions"
                                               [placeHolder]="'job-search.toolbar.occupation.placeholder' | translate"></jr2-typeahead-multiselect>
                </div>
                <div class="form-group form-group--icon">
                    <jr2-typeahead-multiselect formControlName="localityQuery"
                                               [itemLoader]="fetchLocalitySuggestions"
                                               [editable]="false"
                                               [focusFirst]="true"
                                               [placeHolder]="'job-search.toolbar.locality.placeholder' | translate"></jr2-typeahead-multiselect>
                    <jr2-geo-location-select
                        (localitySelect)="handleLocalitySelect($event)"
                        [tooltip]="'job-search.toolbar.locality-select.tooltip' | translate "></jr2-geo-location-select>
                </div>

                <jr2-search-button [loading]="loading"
                                   [maxSearchSize]="maxJobListSize"
                                   [titleTranslation]="'job-search.toolbar.search-button.title'"
                                   [totalCount]="totalCount"></jr2-search-button>
        </form>
    </div>
</div>
