@import '../../../content/scss/jbr2_variables.scss';

:host /deep/ .typeahead-multiselect__type-label--classification {
    background-color: $main-accent-color-400;
}

:host /deep/ .typeahead-multiselect__type-label--occupation {
    background-color: $additional-accent-green;
}

:host /deep/ .typeahead-multiselect__type-label--canton {
    background-color: $main-accent-color-400;
}

:host /deep/ .typeahead-multiselect__type-label--locality {
    background-color: $additional-accent-green;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .sticked {
        position: fixed;
    }

    .sticked--top.toolbar {
        margin-top: 0 !important;
        width: 100%;
        top: ($header-navbar-height) !important;
    }

    :host /deep/  + .container {
        padding-top: ($header-navbar-height);
    }
}

@media screen and (max-width: 479px){
    .toolbar {
        margin-bottom: ($grid-gutter-width / -2);
        border-bottom-color: transparent;
    }
}
