@import '../../../content/scss/jbr2_variables.scss';

// all except smartphone
@media screen and (min-width: 480px){
    .sticky-top {
        position: sticky;
        top: calc(#{$header-navbar-height + $toolbar-height} + #{$toolbar-margin-bottom});
        z-index: 100;
    }

    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .sticky-top {
            position: fixed;
            width: calc(20% - #{2 * $grid-gutter-width});
        }
    }
    // Edge
    @supports (-ms-accelerator:true) {
        .sticky-top {
            position: fixed;
            width: calc(20% - #{2 * $grid-gutter-width});
        }
    }
}

// tablet wide
@media screen and (min-width: 480px) and (max-width: 1024px){
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .sticky-top {
            position: fixed;
            width: calc(25% - #{2 * $grid-gutter-width});
        }
    }
    // Edge
    @supports (-ms-accelerator:true) {
        .sticky-top {
            position: fixed;
            width: calc(25% - #{2 * $grid-gutter-width});
        }
    }
}

// tablet narrow
@media screen and (min-width: 480px) and (max-width: 768px){
    // IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .sticky-top {
            position: static;
            width: 100%;
        }
    }
    // Edge
    @supports (-ms-accelerator:true) {
        .sticky-top {
            position: static;
            width: 100%;
        }
    }
}

// smartphone
@media screen and (max-width: 479px){
    .sticky-top {
        margin-right: ($grid-gutter-width / -2);
        margin-left:  ($grid-gutter-width / -2);

        padding-right: ($grid-gutter-width / 2);
        padding-left:  ($grid-gutter-width / 2);

        background-color: rgba($main-color-gray-50, 1.0);
        border-bottom: 1px solid $main-color-gray-lighter;
    }
}
