<div class="sticky-top">
    <!-- filter -->
    <jr2-job-search-filter [searchFilter]="searchFilter$ | async"></jr2-job-search-filter>

    <!--<ul class="nav filter-nav flex-column">-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Job-Alert erstellen</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#"><i class="fa fa-star-o" aria-hidden="true"></i> Suche speichern</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i> Gemerkte Jobs anzeigen</a>-->
    <!--</li>-->
    <!--</ul>-->

    <!--<ul class="nav subnavbar-nav filter-nav md-whiteframe-1dp">-->
    <!--<li class="nav-title">-->
    <!--Job-Alternativen-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Webdesigner m/w</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Mediamatiker m/w</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Interaction- / Screendesigner m/w</a>-->
    <!--</li>-->
    <!--</ul>-->

    <!--<ul class="nav subnavbar-nav filter-nav md-whiteframe-1dp">-->
    <!--<li class="nav-title">-->
    <!--Erweitern Sie den Suchradius-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">17 Jobs + 50 km</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">33 Jobs + 100 km</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">54 Jobs + 150 km</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!-- /filter -->
    <div class="f-control-bar">
        <div class="f-control f-menu-toggle">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#f-icon-menu"></use>
            </svg>
        </div>
    </div>
</div>
