@import '../../../../content/scss/jbr2_variables.scss';

:host /deep/ .typeahead-multiselect__type-label--classification {
    background-color: $typeahead-color-classification;
}

:host /deep/ .typeahead-multiselect__type-label--occupation {
    background-color: $additional-accent-green;
}

:host /deep/ .typeahead-multiselect__type-label--canton {
    background-color: $typeahead-color-canton;
}

:host /deep/ .typeahead-multiselect__type-label--locality {
    background-color: $additional-accent-green;
}

.job-radar {

    .btn-link {
        font-weight: 700;
        margin-top: $margin-x-narrow;
        color: transparent;
        cursor: pointer;
    }

    &:hover .btn-link {
        color: #ffffff;
    }
}

@media screen and (max-width: 767px){
    .job-search__radar {
        display: none;
    }
}
