[
    {
        "ID": "r67z14hqxkj86g019rvkp5ya5",
        "Version": {
            "Index": 377996
        },
        "CreatedAt": "2017-11-12T10:58:58.738599429Z",
        "UpdatedAt": "2018-01-11T07:44:15.052375191Z",
        "Spec": {
            "Name": "infr_jobroom-proxy",
            "Labels": {
                "com.docker.stack.image": "localhost:5000/nginx-lua",
                "com.docker.stack.namespace": "infr"
            },
            "TaskTemplate": {
                "ContainerSpec": {
                    "Image": "localhost:5000/nginx-lua:latest@sha256:62c4481d5422a403be8a55810167b7f22bdbabbc76f51d9c3c8156dc49c6ae25",
                    "Labels": {
                        "com.docker.stack.namespace": "infr"
                    },
                    "Env": [
                        "JAVA_OPTS=-Xmx512m -Xms256m -Duser.timezone=Europe/Zurich",
                        "SLEEP=0",
                        "SPRING_CLOUD_CONFIG_LABEL=develop",
                        "SPRING_CLOUD_CONFIG_URI=http://admin:${jhipster.registry.password}@jhipster-registry:8761/config",
                        "SPRING_CONFIG_LOCATION=file:/run/secrets/",
                        "SPRING_PROFILES_ACTIVE=development,swagger",
                        "TZ=Europe/Zurich"
                    ],
                    "Privileges": {
                        "CredentialSpec": null,
                        "SELinuxContext": null
                    },
                    "StopGracePeriod": 10000000000,
                    "DNSConfig": {},
                    "Secrets": [
                        {
                            "File": {
                                "Name": "dev.job-room.ch.key",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "SecretID": "jrogjc69pfzz0b48192cyjyeu",
                            "SecretName": "dev.job-room.ch.key"
                        },
                        {
                            "File": {
                                "Name": "dev.job-room.ch.pem",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "SecretID": "tuw1yyk70gkzvtujrcpk3lz4a",
                            "SecretName": "dev.job-room.ch.pem"
                        }
                    ],
                    "Configs": [
                        {
                            "File": {
                                "Name": "/etc/nginx/conf.d/default.conf",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "ConfigID": "i5zw21vmn6aaqn757rcveasfw",
                            "ConfigName": "nginx-default.conf"
                        }
                    ],
                    "Isolation": "default"
                },
                "Resources": {},
                "RestartPolicy": {
                    "Condition": "any",
                    "Delay": 5000000000,
                    "MaxAttempts": 0
                },
                "Placement": {
                    "Constraints": [
                        "node.labels.type == java"
                    ],
                    "Platforms": [
                        {
                            "Architecture": "amd64",
                            "OS": "linux"
                        }
                    ]
                },
                "Networks": [
                    {
                        "Target": "c58d1uu7r77wl3wds9jk4orxb",
                        "Aliases": [
                            "jobroom-proxy"
                        ]
                    }
                ],
                "ForceUpdate": 0,
                "Runtime": "container"
            },
            "Mode": {
                "Replicated": {
                    "Replicas": 1
                }
            },
            "UpdateConfig": {
                "Parallelism": 1,
                "FailureAction": "pause",
                "Monitor": 5000000000,
                "MaxFailureRatio": 0,
                "Order": "stop-first"
            },
            "RollbackConfig": {
                "Parallelism": 1,
                "FailureAction": "pause",
                "Monitor": 5000000000,
                "MaxFailureRatio": 0,
                "Order": "stop-first"
            },
            "EndpointSpec": {
                "Mode": "vip",
                "Ports": [
                    {
                        "Protocol": "tcp",
                        "TargetPort": 443,
                        "PublishedPort": 8443,
                        "PublishMode": "host"
                    }
                ]
            }
        },
        "PreviousSpec": {
            "Name": "infr_jobroom-proxy",
            "Labels": {
                "com.docker.stack.image": "nginx:alpine",
                "com.docker.stack.namespace": "infr"
            },
            "TaskTemplate": {
                "ContainerSpec": {
                    "Image": "nginx:alpine@sha256:34aa80bb22c79235d466ccbbfa3659ff815100ed21eddb1543c6847292010c4d",
                    "Labels": {
                        "com.docker.stack.namespace": "infr"
                    },
                    "Env": [
                        "JAVA_OPTS=-Xmx512m -Xms256m -Duser.timezone=Europe/Zurich",
                        "SLEEP=0",
                        "SPRING_CLOUD_CONFIG_LABEL=develop",
                        "SPRING_CLOUD_CONFIG_URI=http://admin:${jhipster.registry.password}@jhipster-registry:8761/config",
                        "SPRING_CONFIG_LOCATION=file:/run/secrets/",
                        "SPRING_PROFILES_ACTIVE=development,swagger",
                        "TZ=Europe/Zurich"
                    ],
                    "Privileges": {
                        "CredentialSpec": null,
                        "SELinuxContext": null
                    },
                    "Secrets": [
                        {
                            "File": {
                                "Name": "dev.job-room.ch.key",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "SecretID": "jrogjc69pfzz0b48192cyjyeu",
                            "SecretName": "dev.job-room.ch.key"
                        },
                        {
                            "File": {
                                "Name": "dev.job-room.ch.pem",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "SecretID": "tuw1yyk70gkzvtujrcpk3lz4a",
                            "SecretName": "dev.job-room.ch.pem"
                        }
                    ],
                    "Configs": [
                        {
                            "File": {
                                "Name": "/etc/nginx/conf.d/nginx.https.conf",
                                "UID": "0",
                                "GID": "0",
                                "Mode": 292
                            },
                            "ConfigID": "y87vzxuwpw45yn6dnszhj4kto",
                            "ConfigName": "nginx.https.conf"
                        }
                    ],
                    "Isolation": "default"
                },
                "Resources": {},
                "Placement": {
                    "Constraints": [
                        "node.labels.type == java"
                    ],
                    "Platforms": [
                        {
                            "Architecture": "amd64",
                            "OS": "linux"
                        }
                    ]
                },
                "Networks": [
                    {
                        "Target": "c58d1uu7r77wl3wds9jk4orxb",
                        "Aliases": [
                            "jobroom-proxy"
                        ]
                    }
                ],
                "ForceUpdate": 0,
                "Runtime": "container"
            },
            "Mode": {
                "Replicated": {
                    "Replicas": 1
                }
            },
            "EndpointSpec": {
                "Mode": "vip",
                "Ports": [
                    {
                        "Protocol": "tcp",
                        "TargetPort": 443,
                        "PublishedPort": 8443,
                        "PublishMode": "host"
                    }
                ]
            }
        },
        "Endpoint": {
            "Spec": {
                "Mode": "vip",
                "Ports": [
                    {
                        "Protocol": "tcp",
                        "TargetPort": 443,
                        "PublishedPort": 8443,
                        "PublishMode": "host"
                    }
                ]
            },
            "Ports": [
                {
                    "Protocol": "tcp",
                    "TargetPort": 443,
                    "PublishedPort": 8443,
                    "PublishMode": "host"
                }
            ],
            "VirtualIPs": [
                {
                    "NetworkID": "c58d1uu7r77wl3wds9jk4orxb",
                    "Addr": "10.0.2.13/24"
                }
            ]
        },
        "UpdateStatus": {
            "State": "completed",
            "StartedAt": "2017-12-19T15:50:59.11247835Z",
            "CompletedAt": "2017-12-19T15:51:09.605339116Z",
            "Message": "update completed"
        }
    }
]
