<div class="container" xmlns="http://www.w3.org/1999/html">
    <div *ngIf="jobPublication$ | async as jobPublication" class="base">

        <div class="base__subnavbar job-detail__references">
            <div class="sticked sticked--top__parent">
                <ul class="d-none d-md-flex flex-column nav filter-nav">
                    <li *ngIf="showCancellationLink$ | async" class="nav-item">
                        <a class="nav-link"
                           (click)="showCancellationDialog(jobPublication.id, jobPublication.accessToken)">
                            <span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>
                            {{'job-publication-details.cancel' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           [routerLink]="['/agents/jobpublication', { jobPublicationId: jobPublication.id, accessToken: jobPublication.accessToken }]"><span
                                class="fa fa-fw fa-clone" aria-hidden="true"></span> {{ 'job-publication-details.copy' |
                            translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="printJobPublication()"><i class="fa fa-fw fa-print"
                                                                               aria-hidden="true"></i> {{
                            'job-publication-details.print' | translate }}</a>
                    </li>
                </ul>
            </div>

            <div class="job-detail__company alv-logo-box flex-height md-whiteframe-1dp">
                <div *ngIf="jobPublication.company as company" class="job-detail__content">
                    <address>
                        <strong>{{ company.name }}</strong><br>
                        {{ company.street }} {{ company.houseNumber }}<br>
                        {{ company.zipCode }} {{ company.city }}<br>
                    </address>
                </div>

                <div *ngIf="jobPublication.contact as contact" class="job-detail__content">
                    <strong>{{ 'job-publication-details.contact.title' | translate }}</strong>
                    <div>
                        {{ contact.firstName }} {{ contact.lastName }}
                    </div>
                    <div>
                        <a href="mailto={{ contact.email }}">{{ contact.email }}</a>
                    </div>
                    <div>
                        <a href="tel={{ contact.phoneNumber }}">{{ contact.phoneNumber | jr2PhoneNumber }}</a>
                    </div>
                </div>
            </div>

            <div class="job-detail__pes alv-logo-box flex-height md-whiteframe-1dp">
                <div class="job-detail__content">
                    <strong>{{ 'job-publication-details.contact.accountNumber' | translate }}:</strong><br>
                    <ng-container *ngIf="jobPublication.idAvam">
                        {{ 'job-publication-details.contact.avam' | translate }}: {{ jobPublication.idAvam }}<br>
                    </ng-container>
                    <ng-container *ngIf="jobPublication.id">
                        {{ 'job-publication-details.contact.jobRoom' | translate }}: {{ jobPublication.id }}
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="base__content job-detail__body">
            <ngb-alert *ngIf="showCancellationSuccess$ | async" [type]="'success'" class="d-print-none"
                       (close)="closeSuccessMessage()">
                {{ 'job-publication-details.cancel.success' | translate }}
            </ngb-alert>
            <ngb-alert *ngIf="showCancellationError$ | async" [type]="'danger'" class="d-print-none"
                       (close)="closeErrorMessage()">
                {{ 'job-publication-details.cancel.error' | translate }}
            </ngb-alert>
            <!-- Job details -->
            <div class="job-detail__title">
                <h2 class="text--light">{{ jobPublication.job.title }}</h2>
                <h4 class="text--light">{{ 'job-publication-details.status' | translate }}: {{
                    'global.job-publication.status.' + jobPublication.status |
                    translate }}</h4>
                <strong>{{ jobPublication.company.name }}</strong>
                <small *ngIf="jobPublication.job.startDate" class="job-detail__date">
                    {{ 'job-publication-details.startDate' | translate }} {{ jobPublication.job.startDate | jr2Date }}
                </small>
            </div>
            <p></p>

            <div *ngIf="jobPublication.job as job" class="job-detail__content">
                <span class="badge badge-blue">
                    {{ job.location.zipCode }} {{ job.location.city }}
                    <ng-container *ngIf="job.location.countryCode">
                      ({{ job.location.countryCode }})
                    </ng-container>
                </span>
                <span class="badge badge-gray">{{ [job.workingTimePercentageMin, job.workingTimePercentageMax] | workingTimeRange }}</span>
                <span *ngIf="job.permanent" class="badge badge-green">{{ 'job-publication-details.permanent' | translate}}</span>
                <span *ngIf="!job.permanent" class="badge badge-green">{{ 'job-publication-details.temporary' | translate }}</span>
                <span *ngIf="job.startsImmediately" class="badge badge-yellow">{{ 'job-publication-details.immediately' | translate }}</span>
                <span *ngIf="!job.startsImmediately" class="badge badge-yellow">{{ 'job-publication-details.byArrangement' | translate }}</span>
            </div>

            <div class="job-detail__content" [innerHtml]="jobPublication.job.description | safeHtml">
            </div>

            <!-- Languages -->
            <jr2-languages [languages]="jobPublication.job.languageSkills"></jr2-languages>

        </div>

        <div *ngIf="jobPublication.application as application" class="base__related">
            <div class="sticked sticked--top__parent" style="top: 124px;">

                <div class="alv-logo-box flex-height flex-column md-whiteframe-1dp filter-nav">
                    <p><strong>{{ 'job-publication-details.application.title' | translate }}</strong></p>
                    <p *ngIf="application.email" class="nav-item">
                        <span>{{ 'job-publication-details.application.email' | translate }}:</span><br/>
                        <a href="mailto:{{ application.email }}">{{ application.email }}</a>
                    </p>
                    <p *ngIf="application.url">
                        <span>{{ 'job-publication-details.application.post' | translate }}:</span><br/>
                        <a href="{{ application.url }}">{{ application.url }}</a>
                    </p>
                    <p *ngIf="application.phoneNumber">
                        <span>{{ 'job-publication-details.application.telephone' | translate }}:</span><br/>
                        <a href="tel:{{application.phoneNumber}}">{{ application.phoneNumber | jr2PhoneNumber }}</a>
                    </p>
                    <p *ngIf="application.additionalInfo">
                        <span>{{ 'job-publication-details.application.additionalInfo' | translate }}:</span><br/>
                        <span>{{ application.additionalInfo }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
