<div infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll($event)" [infiniteScrollDisabled]="totalCount <= jobList.length">
    <ngb-alert *ngIf="displayError$ | async" [type]="'danger'" (close)="closeAlert()">{{ 'job-search.job-search-list.error-message' | translate}}</ngb-alert>

    <h3 class="text--light" *ngIf="!(displayError$ | async)" [jhiTranslate]="getTitleKey()" [translateValues]="{count: totalCount, query: baseQueryString, locale: locationQueryString}"></h3>

    <jr2-job-search-list-item *ngFor="let job of jobList" [job]="job"></jr2-job-search-list-item>

</div>
