<div class="logo-box flex-height result-list__item md-whiteframe-1dp" [routerLink]="['/candidate-detail', profile.id]">

    <div class="d-flex w-100 justify-content-between mb-1">
        <h4 class="text--primary-color" *ngIf="validExperienceData">{{ (jobExperience$ | async)?.occupation}}</h4>
    </div>

    <div>
        <span class="badge badge-blue">
            {{ 'global.reference.canton.' + profile.residenceCantonCode | translate}}
        </span>
        <span class="badge badge-gray" *ngIf="isDisplayExperience">
            {{ 'global.experience.' + (jobExperience$ | async)?.experience | translate }}
        </span>
        <span class="badge badge-yellow">
            {{ 'candidate-search.availability.' + profile.availability | translate}}
        </span>
        <span class="badge badge-gray">
            {{ profile.workLoad }}%
        </span>
    </div>

    <div class="line-clamp" *ngIf="validExperienceData" [innerHtml]="(jobExperience$ | async)?.remark | safeHtml"></div>
</div>
