<jhi-page-ribbon></jhi-page-ribbon>

<div class="header sticky-top">
    <!-- alv-header -->
    <div class="alv-header alv-header--inverse bg-inverse">
        <span class="alv-header__brand mb-0">
            <img src="~@alv-ch/alv-styleguide/src/assets/styleguide/images/swiss.svg" width="20" height="20" class="d-inline-block" alt="Swiss Confederation">
            Arbeitslosenversicherung ALV
        </span>
    </div>
    <!-- /alv-header -->
    <router-outlet name="navbar"></router-outlet>
</div>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>

<jhi-footer></jhi-footer>
