
/*=================================================================================
Reset from (alv-styleguide v0.0.11)
=================================================================================== */

:host {
    width: 20%;
    max-width: 20%;
}

.nav-item {
    width: 100% !important;
    max-width: 100% !important;
}
