<div class="container mt-md-5">
    <div class="row base">
        <div class="col-12 col-md order-11 order-md-1 base__subnavbar">

            <ul class="pagination pagination--block pagination-alv  d-none d-md-flex">
                <li class="page-item">
                    <a class="page-link" routerLink="/job-search">{{'job-detail.back' | translate}}</a>
                </li>
            </ul>

            <hr class="visible-print-block d-none"/>

            <div class="sticky-top">
                <div class="job-detail__company alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">
                    <div class="job-detail__content" *ngIf="job.company">
                        <address>
                            <h4>{{ job.company.name }}</h4>
                            <p>{{ job.company.street }} {{ job.company.houseNumber }}</p>
                            <p>{{ job.company.zipCode }} {{ job.company.city }}</p>
                        </address>

                        <p>{{ job.company.phone }}</p>
                        <p><a href="mailto:{{ job.company.email }}">{{ job.company.email
                            }}</a></p>
                        <p><a href="{{ job.company.website }}" target="{{ job.id }}">{{ job.company.website |
                            truncateCharacters:30 }}</a></p>
                    </div>

                    <div *ngIf="job.contact">
                        <div class="job-detail__content">
                            <h4>{{'job-detail.contactPerson' | translate}}</h4>
                            <p><span *ngIf="job.contact.salutation">{{ 'job-detail.contactPerson.salutation.' +job.contact.salutation | translate }}</span>
                                {{ job.contact.firstName }}&nbsp;{{ job.contact.lastName }}
                            </p>
                            <p>{{ job.contact.phone }}</p>
                            <p><a href="mailto:{{ job.company.email }}">{{ job.company.email
                                }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 order-3 base__content">
            <ngb-alert *ngIf="showInfoBox" [type]="'info'" (close)="showInfoBox = false">{{ 'job-detail.info-box' | translate }}</ngb-alert>

            <div class="job-detail__title">
                <h2 class="text--light">{{ job.title }}</h2>
                <span class="text--primary-color">{{ job.company.name }}</span>
                <small class="job-detail__date">
                    {{'job-detail.onlineSince' | translate}} {{ job.publicationStartDate |
                    jr2Date }}
                </small>
            </div>

            <div class="job-detail__content">
                <span *ngIf="job.locality" class="badge badge-location">{{ job.locality.zipCode }} {{ job.locality.text }} ({{ job.locality.cantonCode }})</span>

                <div class="job-detail__content">
                    <span *ngIf="job.locality" class="badge badge-blue">{{ job.locality.zipCode }} {{ job.locality.text }} ({{ job.locality.cantonCode }})</span>
                    <span class="badge badge-gray">{{[job.workingTimePercentageMin, job.workingTimePercentageMax] | workingTimeRange}}</span>
                    <span *ngIf="job.permanent" class="badge badge-green">{{'job-search.job-search-list-item.badge.permanent' | translate}}</span>
                    <span *ngIf="!job.permanent" class="badge badge-yellow">{{'job-search.job-search-list-item.badge.temporary' | translate}}</span>
                    <span class="badge badge-yellow">{{'job-detail.startsImmediately.' +  job.startsImmediately | translate}}</span>
                </div>
            </div>

            <!-- job description -->
            <div class="job-detail__content">
                <markdown [data]="job.description"></markdown>
            </div>

            <div *ngIf="job.languages && job.languages.length" class="job-detail__content">
                <h4 class="job-detail__content__title">{{ 'job-detail.languages' | translate }}</h4>

                <dl class="row" *ngFor="let language of job.languages">
                    <dt class="col-md-4 text-md-right">{{ 'job-detail.language.' + language.code | translate }}</dt>
                    <dd class="col-md-8">
                        <span *ngIf="language.spokenLevel">{{ 'job-detail.language.spoken' | translate }}: {{ 'job-detail.language.level.' + language.spokenLevel | translate}}, </span>
                        <span *ngIf="language.writtenLevel">{{ 'job-detail.language.written' | translate }}: {{ 'job-detail.language.level.' + language.writtenLevel | translate}}</span>
                    </dd>
                </dl>
            </div>

            <div *ngIf="jobCenter$ | async" class="job-detail__content">
                <h2>{{ 'job-detail.reference' | translate }}</h2>
                <table class="table">
                    <tr>
                        <td>{{ 'job-detail.reference.responsible-job-center' | translate }}</td>
                        <td>{{ (jobCenter$ | async).address.name }}</td>
                    </tr>
                    <tr>
                        <td>{{'job-detail.reference.phone'|translate}}:</td>
                        <td>{{ (jobCenter$ | async).phone }}</td>
                    </tr>
                    <tr>
                        <td>{{'job-detail.reference.job-id'|translate}}:</td>
                        <td>{{ job.externalId }}</td>
                    </tr>
                </table>
            </div>

            <!-- /job description -->

            <!--<div class="job-detail__features">-->
            <!--<div class="logo-box flex-height md-whiteframe-1dp">-->
            <!--<h4>{{ job.company.name }}</h4>-->
            <!--<h4 class="text&#45;&#45;light">{{ job.company?.zipCode }} {{-->
            <!--job.company?.city }}</h4>-->
            <!--<a href="#" [jhiTranslate]="'job-detail.otherJobsCompany'"-->
            <!--[translateValues]="{count: 12}"></a>-->
            <!--</div>-->
            <!--<div class="logo-box flex-height md-whiteframe-1dp">-->
            <!--<h4>{{ job.title }}</h4>-->
            <!--<h4 class="text&#45;&#45;light">{{ job.locality.zipCode }} {{-->
            <!--job.locality.text }} ({{ job.locality.cantonCode }})</h4>-->
            <!--<a href="#" [jhiTranslate]="'job-detail.otherJobsEquivalent'"-->
            <!--[translateValues]="{count: 144}"></a>-->
            <!--</div>-->
            <!--</div>-->

        </div>

        <div class="col-12 col-md order-12 base__related">
            <div class="sticky-top">
                <div>
                    <p>
                        <a *ngIf="job.applicationUrl"
                           class="btn btn-primary btn-block btn-sm"
                           href="{{job.applicationUrl}}" target="{{job.id}}">
                            {{'job-detail.action.applyNow' | translate}}
                        </a>
                        <a *ngIf="job.externalUrl"
                           class="btn btn-secondary btn-block btn-sm"
                           href="{{job.externalUrl}}" target="{{job.id}}">
                            {{'job-detail.action.showExternalPage' | translate}}
                        </a>
                    </p>

                    <ul class="nav filter-nav flex-column">
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#"><i class="fa fa-star-o"-->
                        <!--aria-hidden="true"></i>-->
                        <!--{{'job-detail.action.saveJob' | translate}}</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="isCopied" ngxClipboard
                               [cbContent]="jobUrl" (cbOnSuccess)="isCopied = true">
                                <i class="fa fa-share" aria-hidden="true"></i>
                                {{'job-detail.action.copyLink' | translate}}</a>
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#"><i class="fa fa-envelope"-->
                        <!--aria-hidden="true"></i>-->
                        <!--{{'job-detail.action.sendEmail' | translate}}</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" (click)="printJob()">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                {{'job-detail.action.print' | translate}}</a>
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#"><i class="fa fa-file-pdf-o"-->
                        <!--aria-hidden="true"></i>-->
                        <!--{{'job-detail.action.savePdf' | translate}}</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
