
@import '../../../content/scss/jbr2_variables.scss';

.btn-block {
    text-overflow: ellipsis;
    overflow: hidden;
}

.logo-box__company {
    p {
        margin-bottom: 0;
    }

    h4 {
        font-size: inherit;
    }
}

td:first-of-type {
    width: 200px;
}

.job-detail__title h2 {
    height: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 479px) {
    .logo-box__company {
        margin-top: $margin-x-narrow;
    }
}
