.btn-block {
    text-overflow: ellipsis;
    overflow: hidden;
}

.logo-box__company {
    p {
        margin-bottom: 0px;
    }

    h4 {
        font-size: inherit;
    }
}

td:first-of-type {
    width: 200px;
}

.job-detail__title h2 {
    height: auto;
    margin-bottom: auto;
}


