<div class="container mt-md-5">
    <div class="row base">
        <div class="col-12 col-md order-11 order-md-1 base__subnavbar">
            <div class="base__sticky-panel">
                <ul class="pagination pagination--block pagination-alv  d-none d-md-flex">
                    <li class="page-item">
                        <a class="page-link" routerLink="/job-search">{{'job-detail.back' | translate}}</a>
                    </li>
                </ul>

                <hr class="visible-print-block d-none"/>

                <div class="detail__company alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">
                    <div class="detail__content" *ngIf="job.company">
                        <address>
                            <h4>{{ job.company.name }}</h4>
                            <p>{{ job.company.street }} {{ job.company.houseNumber }}</p>
                            <p>{{ job.company.zipCode }} {{ job.company.city }}</p>
                        </address>

                        <p><a href="tel:{{job.company.phone}}">{{ job.company.phone | jr2PhoneNumber }}</a></p>
                        <p><a href="mailto:{{ job.company.email }}">{{ job.company.email
                            }}</a></p>
                        <p><a href="{{ job.company.website }}" target="{{ job.id }}">{{ job.company.website |
                            truncateCharacters:30 }}</a></p>
                    </div>

                    <div *ngIf="job.contact">
                        <div class="detail__content">
                            <h4>{{'job-detail.contactPerson' | translate}}</h4>
                            <p><span *ngIf="job.contact.salutation">{{ 'global.contactPerson.salutation.' + job.contact.salutation | translate }}</span>
                                {{ job.contact.firstName }}&nbsp;{{ job.contact.lastName }}
                            </p>
                            <p><a href="tel:{{job.contact.phone}}">{{ job.contact.phone| jr2PhoneNumber }}</a></p>
                            <p><a href="mailto:{{ job.company.email }}">{{ job.company.email
                                }}</a></p>
                        </div>
                    </div>
                </div>

                <div *ngIf="jobCenter$ | async as jobCenter"
                     class="detail__company alv-logo-box logo-box logo-box__company flex-height md-whiteframe-1dp">
                    <div class="detail__content">
                        <address>
                            <h4>{{ 'job-detail.reference.responsible-job-center' | translate }}</h4>
                            <p>{{jobCenter.address.name}}, {{jobCenter.address.street}}
                                {{jobCenter.address.houseNumber}}</p>
                            <p>{{jobCenter.address.zipCode}} {{jobCenter.address.city}}</p>
                            <p>{{'job-detail.reference.phone' | translate}} <a href="tel:{{jobCenter.phone}}">
                                {{jobCenter.phone | jr2PhoneNumber}}</a>
                            </p>
                        </address>

                        <ng-container *ngIf="job.avamJobId || job.egovJobId">
                            <h4>{{'job-detail.reference.job-id' | translate}}:</h4>
                            <p *ngIf="job.avamJobId">AVAM: {{job.avamJobId}}</p>
                            <p *ngIf="job.egovJobId">Job-Room: {{job.egovJobId}}</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 order-3 base__content">
            <ngb-alert *ngIf="showExternalJobDisclaimer" [type]="'info'" (close)="showExternalJobDisclaimer = false"
                       class="d-print-none">
                {{'job-detail.external-job-disclaimer' | translate}}
            </ngb-alert>

            <div class="detail__title">
                <h2 class="text--light">{{ job.title }}</h2>
                <span class="text--primary-color">{{ job.company.name }}</span>
                <small class="detail__date">
                    {{'job-detail.onlineSince' | translate}} {{ job.publicationStartDate |
                    jr2Date }}
                </small>
            </div>

            <div class="detail__content">
                <jr2-job-locality [locality]="job.locality"></jr2-job-locality>
                <span class="badge badge-gray">{{[job.workingTimePercentageMin, job.workingTimePercentageMax] | workingTimeRange}}</span>
                <span *ngIf="job.startDate" class="badge badge-yellow" translate="job-detail.startDate"
                      [translateParams]="{date: job.startDate | jr2Date}"></span>
                <span *ngIf="!job.startDate" class="badge badge-yellow">{{'job-detail.startsImmediately.' +  job.startsImmediately | translate}}</span>
                <span *ngIf="job.permanent" class="badge badge-green">{{'job-search.job-search-list-item.badge.permanent' | translate}}</span>
                <span *ngIf="!job.permanent && !!job.endDate" class="badge badge-yellow" translate="job-detail.endDate"
                      [translateParams]="{date: job.endDate | jr2Date}"></span>
                <span *ngIf="!job.permanent && !job.endDate" class="badge badge-yellow">{{'job-search.job-search-list-item.badge.temporary' | translate}}</span>
            </div>

            <!-- job description -->
            <div class="detail__content">
                <markdown [data]="job.description"></markdown>
            </div>

            <!-- Languages -->
            <jr2-languages [languages]="job.languages"></jr2-languages>

            <!-- Application -->
            <div *ngIf="job.application" class="detail__content">
                <h4 class="detail__content__title">{{ 'job-detail.application.title' | translate }}</h4>

                <div *ngIf="job.application.mailEnabled" class="content__item">
                    <strong>{{ 'job-detail.application.mail' | translate}}</strong>
                    <span>{{ 'job-detail.application.mail.text' | translate}}</span>
                </div>
                <div *ngIf="job.application.emailEnabled" class="content__item">
                    <strong>{{ 'job-detail.application.email' | translate}}</strong>
                    <span>
                        <a href="mailto:{{job.contact?.email || job.company?.email}}">{{job.contact?.email || job.company?.email}}</a>
                    </span>
                </div>
                <div *ngIf="job.application.phoneEnabled" class="content__item">
                    <strong>{{ 'job-detail.application.phone' | translate}}</strong>
                    <span><a href="tel:{{job.contact?.phone || job.company?.phone}}">
                        {{(job.contact?.phone || job.company?.phone) | jr2PhoneNumber}}
                    </a></span>
                </div>
                <div *ngIf="job.application.additionalInfo" class="content__item">
                    <strong>{{ 'job-detail.application.additionalInfo' | translate}}</strong>
                    <span>{{job.application.additionalInfo}}</span>
                </div>
            </div>

            <!-- /job description -->

        </div>

        <div class="col-12 col-md order-12 base__related">
            <div class="base__sticky-panel">
                <jr2-details-page-pagination [currentItem]="job"
                                             [itemsList]="jobList$ | async"
                                             [feature]="'job-detail'"
                                             [totalSize]="jobListTotalSize$ | async">
                </jr2-details-page-pagination>

                <p>
                    <a *ngIf="job.applicationUrl"
                       class="btn btn-primary btn-block btn-sm"
                       href="{{job.applicationUrl}}" target="{{job.id}}">
                        {{'job-detail.action.applyNow' | translate}}
                    </a>
                    <a *ngIf="job.externalUrl"
                       class="btn btn-secondary btn-block btn-sm"
                       href="{{job.externalUrl}}" target="{{job.id}}">
                        {{'job-detail.action.showExternalPage' | translate}}
                    </a>
                </p>

                <ul class="nav filter-nav flex-column">
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#"><i class="fa fa-star-o"-->
                    <!--aria-hidden="true"></i>-->
                    <!--{{'job-detail.action.saveJob' | translate}}</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="isCopied" ngxClipboard
                           [cbContent]="jobUrl" (cbOnSuccess)="isCopied = true">
                            <span class="fa fa-share" aria-hidden="true"></span>
                            {{'job-detail.action.copyLink' | translate}}</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#"><i class="fa fa-envelope"-->
                    <!--aria-hidden="true"></i>-->
                    <!--{{'job-detail.action.sendEmail' | translate}}</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" (click)="printJob()">
                            <span class="fa fa-print" aria-hidden="true"></span>
                            {{'job-detail.action.print' | translate}}</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#"><i class="fa fa-file-pdf-o"-->
                    <!--aria-hidden="true"></i>-->
                    <!--{{'job-detail.action.savePdf' | translate}}</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
