@import '../../../../../content/scss/jbr2_variables.scss';

.typeahead-multiselect {
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    min-height: 3rem;
    max-height: 4rem;
    font-size: 1rem;
    line-height: 1rem;

    .typeahead-multiselect__tag {
        margin: 1px;
    }

    .typeahead-multiselect__tag-title {
        display: inline-block;
        float: left;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 120px;
    }

    .typeahead-multiselect__input {
        &:focus {
            border: none;
            box-shadow: none;
            outline: none;
        }
        background: transparent;
        padding: 0;
        border: 0;
        width: inherit;
    }

    input {
        width: inherit;
        max-width: 100%;
    }

}

:host {
    width: 100%;
}

/*
:host /deep/ ngb-typeahead-window {
    max-width: 485px;
    line-height: 1.3rem;
    z-index: 1000;

    button.dropdown-item {
        width: 100%;
        height: auto !important;
    }
}

:host {
    width: 100%;
}

@media screen and (max-width: 479px) {
    :host /deep/ ngb-typeahead-window {
        max-width: 330px;
        left: 20px !important;
    }
}
  */
