<div class="form-control form-control-lg typeahead-multiselect d-flex flex-row flex-wrap" (click)="focusInput()">
    <span class="badge typeahead-multiselect__tag" *ngFor="let item of selectedItems" [ngClass]="getItemClass(item)">
        <span class="typeahead-multiselect__tag-title">{{item.label}}</span>
        <span class="fa fa-times remove-button" aria-hidden="true" (click)="removeItem(item)"></span>
    </span>

    <ng-template #template let-result="result" let-term="term" let-formatter="formatter">
        <div *ngIf="result.firstInGroup" class="typeahead-multiselect__type-label pull-right" [ngClass]="getTypeClass(result.model)">
            {{'typeahead-multiselect.type.' + result.model.type | translate}}
        </div>
        <div [ngClass]="{'fist-in-group-item': result.firstInGroup && !result.first}">
            <ngb-highlight [result]="formatter(result.model)" [term]="term"></ngb-highlight>
        </div>
    </ng-template>

    <input #input class="input typeahead-multiselect__input" autofocus name="inputValue"
           (keydown)="handleKeyDown($event)"
           [placeholder]="showPlaceholder() ? placeHolder : ''"
           [(ngModel)]="inputValue"
           [ngbTypeahead]="wrappedItemLoader"
           [resultFormatter]="formatResultItem"
           (selectItem)="selectItem($event)"
           [resultTemplate]="template"
           [focusFirst]="focusFirst"
           [style.width]="getInputWidth()"
           [size]="inputValue?.length+1"
           [editable]="editable"/>
</div>
