/*=================================================================================
Style guide customization
=================================================================================== */
@import '~@alv-ch/alv-styleguide/build/scss/alv-ch_variables';

.navbar {
    .nav-link--account {
        color: $main-accent-color;
        &:hover {
            color: $main-accent-color !important;
        }
    }
    .dropdown-item--account {
        color: $main-color-black;
        &:hover {
            color: $main-accent-color;
        }
    }

    .navbar__nested-nav .nav-link {
        color: $other-colors-red;
    }

    @media screen and (min-width: 768px){
        .navbar-brand.portal-logo {
            z-index: 100 !important;
        }

        .portal-logo__image span {
            display: none;
        }
    }

    @media screen and (max-width: 767px){
        .portal-logo__image img {
            display: none;
        }
    }
}
@media screen and (max-width: 767px){
    .navbar-nav .dropdown-menu.show {
        position: absolute;
    }
}
