/*=================================================================================
Style guide customization
=================================================================================== */
@import '~@alv-ch/alv-styleguide/build/scss/alv-ch_variables';

.navbar {
    .nav-link--account {
        color: $main-accent-color;
        &:hover {
            color: $main-accent-color !important;
        }
    }
    .dropdown-item--account {
        color: $main-color-black;
        &:hover {
            color: $main-accent-color;
        }
    }
}

