html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}
#footer .container {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #85c1e6;
    text-align: center;
    padding: 1em 0px 0.5em 0px;
}

/*== core */
body {
    font-family: 'Roboto', sans-serif;
}

body .container {
    /*margin: 0;*/
    width: 960px;
}
/*== navbar */
.navbar-nav.navbar-right:last-child {
       margin-right: 0;
}
ul.nav li a {
     background-color: transparent !important;
 }
/*== navbar - top */
ul.nav.navbar-nav li {
    background-image: url('../images/pipe.gif');
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 8pt;
}
ul.nav.navbar-nav li:last-child {
    background-image: none;
}
/*== navbar - sidebar */
ul.nav.nav-sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.nav.nav-sidebar {
    padding-bottom: 20px;
}
ul.nav.nav-sidebar li a {
    display: block;
    color: #000000;
    background-image: url('../images/navi_line.gif');
    background-repeat: no-repeat;
    padding: 2px 12px 2px 24px;
    text-decoration: none;
    border-bottom: 1px solid #cfcfcf;
}
ul.nav.nav-sidebar li li a {
    padding: 2px 1px 2px 35px;
    background-position: 16px;
}

ul.nav.nav-sidebar li a.expanded {
    font-weight: bold;
    background-image: url("../images/navi_line_on.gif");
}
ul.nav.nav-sidebar li a:hover,
ul.nav.nav-sidebar li a:focus,
ul.nav.nav-sidebar li a:active{
    color: red;
}
ul.nav.nav-sidebar li a:focus,
ul.nav.nav-sidebar li a:active{
    background-image: url('../images/navi_right.gif');
    background-repeat: no-repeat;
}
ul.nav.nav-sidebar li.active a {
    font-weight: bold;
}
/*ul.nav.nav-sidebar li:first-child a {
    border-top: 1px solid #cfcfcf;
}*/

/*== breadcrumbs */
.breadcrumb {
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
}

/*== forms */
fieldset label {
    font-weight: normal;
}
form.form-horizontal .control-label {
    text-align: left;
}

fieldset form {
    padding: 5px;
}

.jr-beruf-input {
    padding-left: 5px;
}

/*== forms - fieldset */
fieldset {
    background-color: #ebf2f5;
    background-image: url('../images/form_vig.jpg');
    background-repeat: repeat-y;
}
legend {
    padding: 3px 0px 3px 3px;
    font-size: 1.0em;
    background-color: #9fcce2;
    font-weight: bold;
}