<div class="toolbar toolbar--light md-whiteframe-3dp sticked sticked--top">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form">

            <div class="form-group form-group--wide">
                <input id="occupation-input" formControlName="occupation" class="form-control form-control-lg"
                       [ngbTypeahead]="fetchOccupationSuggestions"
                       [placeholder]="'candidate-search.toolbar.occupation.placeholder' | translate"
                       [inputFormatter]="occupationFormatter"
                       [resultFormatter]="occupationFormatter"
                       (blur)="clearInvalidValue($event)">
            </div>

            <div class="form-group form-group--wide w-100">
                <jr2-multiselect formControlName="skills" [placeholder]="'candidate-search.skills.placeholder' | translate"
                                 class="form-control form-control-lg">
                </jr2-multiselect>
            </div>

            <div *ngIf="cantonOptions$ | async as cantonOptions" class="form-group form-group--wide">
                <ss-multiselect-dropdown [options]="cantonOptions"
                                         [texts]="{defaultTitle: 'candidate-search.toolbar.residence.placeholder' | translate, checkedPlural: 'candidate-search.toolbar.residence.selected' | translate}"
                                         [settings]="multiSelectSettings"
                                         [formControl]="residence"></ss-multiselect-dropdown>
            </div>

            <jr2-search-button [loading]="loading"></jr2-search-button>
        </form>
    </div>
</div>
