<div class="toolbar toolbar--light md-whiteframe-3dp sticked sticked--top">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form">

            <div class="form-group form-group--wide">
                <input id="occupation-input" formControlName="occupation" class="form-control form-control-lg"
                       [ngbTypeahead]="fetchOccupationSuggestions"
                       [placeholder]="'candidate-search.toolbar.occupation.placeholder' | translate"
                       [inputFormatter]="occupationFormatter"
                       [resultFormatter]="occupationFormatter"
                       (blur)="clearInvalidValue($event)">
            </div>

            <div class="form-group form-group--wide w-100">
                <jr2-multiselect formControlName="skills" [placeholder]="'candidate-search.skills.placeholder' | translate"
                                 class="form-control form-control-lg">
                </jr2-multiselect>
            </div>

            <div class="form-group form-group--wide">
                <label class="sr-only" translate="candidate-search.workplace.label"></label>
                <jr2-typeahead-singleselect formControlName="workplace"
                                            size="lg" class="w-100"
                                            [placeholder]="'candidate-search.workplace.placeholder' | translate"
                                            [itemLoader]="fetchLocalitySuggestions"
                                            [editable]="false"></jr2-typeahead-singleselect>
            </div>

            <jr2-search-button [loading]="loading"></jr2-search-button>
            <a href="#" class="btn-lg" (click)="resetFilters($event)">{{ 'candidate-search.toolbar.reset' | translate }}</a>
        </form>
    </div>
</div>
