<div class="toolbar toolbar--light md-whiteframe-3dp sticky-top">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form job-search__form">

            <div class="form-group form-group--wide">
                <input id="occupation-input" formControlName="occupation" class="form-control form-control-lg"
                       [ngbTypeahead]="fetchOccupationSuggestions"
                       [editable]="false"
                       [placeholder]="'candidate-search.toolbar.occupation.placeholder' | translate"
                       [inputFormatter]="occupationFormatter"
                       [resultFormatter]="occupationFormatter">
            </div>
            <div class="form-group form-group--wide">
                <ss-multiselect-dropdown [options]="cantonOptions$ | async"
                                         [texts]="{defaultTitle: 'candidate-search.toolbar.residence.placeholder' | translate, checkedPlural: 'candidate-search.toolbar.residence.selected' | translate}"
                                         [settings]="multiSelectSettings"
                                         [formControl]="residence"></ss-multiselect-dropdown>
            </div>

            <div class="form-group form-group--wide">
                <label for="graduation" class="sr-only">{{ 'candidate-search.toolbar.graduation.label' |
                    translate}}</label>
                <select formControlName="graduation" class="form-control form-control-lg custom-select" id="graduation">
                    <option selected="" value="null" translate="candidate-search.toolbar.graduation.default"></option>
                    <option *ngFor="let graduation of graduationOptions | keys"
                            [ngValue]="graduation.key">{{'candidate-search.graduation.' + graduation.value | translate}}
                    </option>
                </select>
            </div>

            <jr2-search-button [loading]="loading"
                               [maxSearchSize]="maxCandidateListSize"
                               [titleTranslation]="'candidate-search.toolbar.search-button.title'"
                               [totalCount]="totalCount"></jr2-search-button>
        </form>
    </div>
</div>
