@import '../../../content/scss/jbr2_variables.scss';

.sticky-top {
    position: sticky;
    top: 90px;
    z-index: 100;
}

:host /deep/ ngb-typeahead-window {
    max-width: 485px;

    button.dropdown-item {
        width: 100%;
    }
}

:host /deep/ .dropdown-menu a {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333333;
    text-align: left;
}

:host /deep/ .form-inline .form-control {
    width: 100%;
}

:host /deep/ button.dropdown-toggle {
    margin: 0;
    height: calc(2.875rem + 2px);
    text-align: start;
    //hide arrow
    &:after {
        display: none;
    }
}

ss-multiselect-dropdown {
    width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 480px) {
    :host /deep/ button.dropdown-toggle,
    select.form-control-lg:not([size]):not([multiple]) {
        height: 2.4rem;
    }
}

@media screen and (max-width: 479px){
    .toolbar {
        margin-bottom: ($grid-gutter-width / -2);
        border-bottom-color: transparent;
    }
}
