<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobLabel" jhiTranslate="jobroomApp.job.home.createOrEditLabel">Create or edit a Job</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!job.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="job.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.externalId" for="field_externalId">External Id</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                [(ngModel)]="job.externalId" required maxlength="32" />
            <div [hidden]="!(editForm.controls.externalId?.dirty && editForm.controls.externalId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                   This field cannot be longer than 32 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.publicationStartDate" for="field_publicationStartDate">Publication Start Date</label>
            <div class="input-group">
                <input id="field_publicationStartDate" type="text" class="form-control" name="publicationStartDate" ngbDatepicker  #publicationStartDateDp="ngbDatepicker" [(ngModel)]="job.publicationStartDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="publicationStartDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.publicationEndDate" for="field_publicationEndDate">Publication End Date</label>
            <div class="input-group">
                <input id="field_publicationEndDate" type="text" class="form-control" name="publicationEndDate" ngbDatepicker  #publicationEndDateDp="ngbDatepicker" [(ngModel)]="job.publicationEndDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="publicationEndDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.externalUrl" for="field_externalUrl">External Url</label>
            <input type="text" class="form-control" name="externalUrl" id="field_externalUrl"
                [(ngModel)]="job.externalUrl" maxlength="100" />
            <div [hidden]="!(editForm.controls.externalUrl?.dirty && editForm.controls.externalUrl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.applicationUrl" for="field_applicationUrl">Application Url</label>
            <input type="text" class="form-control" name="applicationUrl" id="field_applicationUrl"
                [(ngModel)]="job.applicationUrl" maxlength="255" />
            <div [hidden]="!(editForm.controls.applicationUrl?.dirty && editForm.controls.applicationUrl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.applicationUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.registrationDate" for="field_registrationDate">Registration Date</label>
            <div class="input-group">
                <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" ngbDatepicker  #registrationDateDp="ngbDatepicker" [(ngModel)]="job.registrationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="registrationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.cancellationDate" for="field_cancellationDate">Cancellation Date</label>
            <div class="input-group">
                <input id="field_cancellationDate" type="text" class="form-control" name="cancellationDate" ngbDatepicker  #cancellationDateDp="ngbDatepicker" [(ngModel)]="job.cancellationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="cancellationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.cancellationReason" for="field_cancellationReason">Cancellation Reason</label>
            <input type="text" class="form-control" name="cancellationReason" id="field_cancellationReason"
                [(ngModel)]="job.cancellationReason" maxlength="100" />
            <div [hidden]="!(editForm.controls.cancellationReason?.dirty && editForm.controls.cancellationReason?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cancellationReason?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="job.title" required maxlength="100" />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="job.description" required maxbytes="10000" ></textarea>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.description?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" translateValues="{ max: 10000 }">
                    This field cannot be more than 10000.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.workingTimePercentageMin" for="field_workingTimePercentageMin">Working Time Percentage Min</label>
            <input type="number" class="form-control" name="workingTimePercentageMin" id="field_workingTimePercentageMin"
                [(ngModel)]="job.workingTimePercentageMin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.workingTimePercentageMax" for="field_workingTimePercentageMax">Working Time Percentage Max</label>
            <input type="number" class="form-control" name="workingTimePercentageMax" id="field_workingTimePercentageMax"
                [(ngModel)]="job.workingTimePercentageMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="job.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="job.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.startsImmediately" for="field_startsImmediately">Starts Immediately</label>
            <input type="checkbox" class="form-control" name="startsImmediately" id="field_startsImmediately"
                [(ngModel)]="job.startsImmediately"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.isPermanent" for="field_isPermanent">Is Permanent</label>
            <input type="checkbox" class="form-control" name="isPermanent" id="field_isPermanent"
                [(ngModel)]="job.isPermanent"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.fingerPrint" for="field_fingerPrint">Finger Print</label>
            <input type="text" class="form-control" name="fingerPrint" id="field_fingerPrint"
                [(ngModel)]="job.fingerPrint" maxlength="100" />
            <div [hidden]="!(editForm.controls.fingerPrint?.dirty && editForm.controls.fingerPrint?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fingerPrint?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.numberOfJobs" for="field_numberOfJobs">Number Of Jobs</label>
            <input type="number" class="form-control" name="numberOfJobs" id="field_numberOfJobs"
                [(ngModel)]="job.numberOfJobs"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.isJobSharing" for="field_isJobSharing">Is Job Sharing</label>
            <input type="checkbox" class="form-control" name="isJobSharing" id="field_isJobSharing"
                [(ngModel)]="job.isJobSharing"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.isSuitableForDisabled" for="field_isSuitableForDisabled">Is Suitable For Disabled</label>
            <input type="checkbox" class="form-control" name="isSuitableForDisabled" id="field_isSuitableForDisabled"
                [(ngModel)]="job.isSuitableForDisabled"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.text" for="field_locality.text">Locality Text</label>
            <input type="text" class="form-control" name="locality.text" id="field_locality.text"
                [(ngModel)]="job.locality.text" maxlength="100" />
            <div [hidden]="!(editForm.controls.locality.text?.dirty && editForm.controls.locality.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.zipCode" for="field_locality.zipCode">Job Locality Zip Code</label>
            <input type="text" class="form-control" name="locality.zipCode" id="field_locality.zipCode"
                [(ngModel)]="job.locality.zipCode" minlength="4" maxlength="4" pattern="\d{4}" />
            <div [hidden]="!(editForm.controls.locality.zipCode?.dirty && editForm.controls.locality.zipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.zipCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.zipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.locality.zipCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Job Locality Zip Code' }">
                    This field should follow pattern for "Job Locality Zip Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.communalCode" for="field_locality.communalCode">Locality Communal Code</label>
            <input type="text" class="form-control" name="locality.communalCode" id="field_locality.communalCode"
                [(ngModel)]="job.locality.communalCode" maxlength="4" />
            <div [hidden]="!(editForm.controls.locality.communalCode?.dirty && editForm.controls.locality.communalCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.communalCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.cantonCode" for="field_locality.cantonCode">Locality Canton Code</label>
            <input type="text" class="form-control" name="locality.cantonCode" id="field_locality.cantonCode"
                [(ngModel)]="job.locality.cantonCode" minlength="2" maxlength="2" />
            <div [hidden]="!(editForm.controls.locality.cantonCode?.dirty && editForm.controls.locality.cantonCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.cantonCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.cantonCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.regionCode" for="field_locality.regionCode">Locality Region Code</label>
            <input type="text" class="form-control" name="locality.regionCode" id="field_locality.regionCode"
                [(ngModel)]="job.locality.regionCode" minlength="4" maxlength="4" />
            <div [hidden]="!(editForm.controls.locality.regionCode?.dirty && editForm.controls.locality.regionCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.regionCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.regionCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.locality.countryCode" for="field_locality.countryCode">Locality Country Code</label>
            <input type="text" class="form-control" name="locality.countryCode" id="field_locality.countryCode"
                [(ngModel)]="job.locality.countryCode" minlength="2" maxlength="2" />
            <div [hidden]="!(editForm.controls.locality.countryCode?.dirty && editForm.controls.locality.countryCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.countryCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.locality.countryCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.paymentMin" for="field_paymentMin">Payment Min</label>
            <input type="number" class="form-control" name="paymentMin" id="field_paymentMin"
                [(ngModel)]="job.paymentMin" min="0" />
            <div [hidden]="!(editForm.controls.paymentMin?.dirty && editForm.controls.paymentMin?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.paymentMin?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.paymentMin?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.paymentMax" for="field_paymentMax">Payment Max</label>
            <input type="number" class="form-control" name="paymentMax" id="field_paymentMax"
                [(ngModel)]="job.paymentMax"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.currencyCode" for="field_currencyCode">Currency Code</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                [(ngModel)]="job.currencyCode" minlength="3" maxlength="3" />
            <div [hidden]="!(editForm.controls.currencyCode?.dirty && editForm.controls.currencyCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 3 }">
                   This field cannot be longer than 3 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.ageMin" for="field_ageMin">Age Min</label>
            <input type="number" class="form-control" name="ageMin" id="field_ageMin"
                [(ngModel)]="job.ageMin" min="18" max="99" />
            <div [hidden]="!(editForm.controls.ageMin?.dirty && editForm.controls.ageMin?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMin?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 18 }">
                    This field should be at least 18.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMin?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 99 }">
                    This field cannot be more than 99.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMin?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.ageMax" for="field_ageMax">Age Max</label>
            <input type="number" class="form-control" name="ageMax" id="field_ageMax"
                [(ngModel)]="job.ageMax" min="18" max="99" />
            <div [hidden]="!(editForm.controls.ageMax?.dirty && editForm.controls.ageMax?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMax?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 18 }">
                    This field should be at least 18.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMax?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 99 }">
                    This field cannot be more than 99.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ageMax?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.ageRestrictionReason" for="field_ageRestrictionReason">Age Restriction Reason</label>
            <input type="text" class="form-control" name="ageRestrictionReason" id="field_ageRestrictionReason"
                [(ngModel)]="job.ageRestrictionReason" maxlength="100" />
            <div [hidden]="!(editForm.controls.ageRestrictionReason?.dirty && editForm.controls.ageRestrictionReason?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ageRestrictionReason?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="job.gender" id="field_gender" >
                <option value="MALE" jhiTranslate="jobroomApp.Gender.MALE">MALE</option>
                <option value="FEMALE" jhiTranslate="jobroomApp.Gender.FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.hasPersonalVehicle" for="field_hasPersonalVehicle">Has Personal Vehicle</label>
            <input type="checkbox" class="form-control" name="hasPersonalVehicle" id="field_hasPersonalVehicle"
                [(ngModel)]="job.hasPersonalVehicle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.drivingLicenseLevel" for="field_drivingLicenseLevel">Driving License Level</label>
            <input type="text" class="form-control" name="drivingLicenseLevel" id="field_drivingLicenseLevel"
                [(ngModel)]="job.drivingLicenseLevel" maxlength="2" />
            <div [hidden]="!(editForm.controls.drivingLicenseLevel?.dirty && editForm.controls.drivingLicenseLevel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.drivingLicenseLevel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyName" for="field_companyName">Company Name</label>
            <input type="text" class="form-control" name="companyName" id="field_companyName"
                [(ngModel)]="job.companyName" required minlength="3" maxlength="100" />
            <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyAddressLine1" for="field_companyAddressLine1">Company Address Line 1</label>
            <input type="text" class="form-control" name="companyAddressLine1" id="field_companyAddressLine1"
                [(ngModel)]="job.companyAddressLine1" maxlength="50" />
            <div [hidden]="!(editForm.controls.companyAddressLine1?.dirty && editForm.controls.companyAddressLine1?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyAddressLine1?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyAddressLine2" for="field_companyAddressLine2">Company Address Line 2</label>
            <input type="text" class="form-control" name="companyAddressLine2" id="field_companyAddressLine2"
                [(ngModel)]="job.companyAddressLine2" maxlength="50" />
            <div [hidden]="!(editForm.controls.companyAddressLine2?.dirty && editForm.controls.companyAddressLine2?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyAddressLine2?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyZipCode" for="field_companyZipCode">Company Zip Code</label>
            <input type="text" class="form-control" name="companyZipCode" id="field_companyZipCode"
                [(ngModel)]="job.companyZipCode" required minlength="4" maxlength="4" pattern="\d{4}" />
            <div [hidden]="!(editForm.controls.companyZipCode?.dirty && editForm.controls.companyZipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyZipCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyZipCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyZipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyZipCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Company Zip Code' }">
                    This field should follow pattern for "Company Zip Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyCity" for="field_companyCity">Company City</label>
            <input type="text" class="form-control" name="companyCity" id="field_companyCity"
                [(ngModel)]="job.companyCity" required maxlength="50" />
            <div [hidden]="!(editForm.controls.companyCity?.dirty && editForm.controls.companyCity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCity?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyCountryCode" for="field_companyCountryCode">Company Country Code</label>
            <input type="text" class="form-control" name="companyCountryCode" id="field_companyCountryCode"
                [(ngModel)]="job.companyCountryCode" minlength="2" maxlength="2" />
            <div [hidden]="!(editForm.controls.companyCountryCode?.dirty && editForm.controls.companyCountryCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCountryCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyCountryCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyPostboxNumber" for="field_companyPostboxNumber">Company Postbox Number</label>
            <input type="number" class="form-control" name="companyPostboxNumber" id="field_companyPostboxNumber"
                [(ngModel)]="job.companyPostboxNumber" max="999999" />
            <div [hidden]="!(editForm.controls.companyPostboxNumber?.dirty && editForm.controls.companyPostboxNumber?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPostboxNumber?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 999999 }">
                    This field cannot be more than 999999.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPostboxNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyPostboxZipCode" for="field_companyPostboxZipCode">Company Postbox Zip Code</label>
            <input type="text" class="form-control" name="companyPostboxZipCode" id="field_companyPostboxZipCode"
                [(ngModel)]="job.companyPostboxZipCode" minlength="4" maxlength="4" pattern="\d{4}" />
            <div [hidden]="!(editForm.controls.companyPostboxZipCode?.dirty && editForm.controls.companyPostboxZipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyPostboxZipCode?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyPostboxZipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.companyPostboxZipCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Company Postbox Zip Code' }">
                    This field should follow pattern for "Company Postbox Zip Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyPostboxCity" for="field_companyPostboxCity">Company Postbox City</label>
            <input type="text" class="form-control" name="companyPostboxCity" id="field_companyPostboxCity"
                [(ngModel)]="job.companyPostboxCity" maxlength="50" />
            <div [hidden]="!(editForm.controls.companyPostboxCity?.dirty && editForm.controls.companyPostboxCity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyPostboxCity?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyPhone" for="field_companyPhone">Company Phone</label>
            <input type="text" class="form-control" name="companyPhone" id="field_companyPhone"
                [(ngModel)]="job.companyPhone" maxlength="20" />
            <div [hidden]="!(editForm.controls.companyPhone?.dirty && editForm.controls.companyPhone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyPhone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyEmail" for="field_companyEmail">Company Email</label>
            <input type="text" class="form-control" name="companyEmail" id="field_companyEmail"
                [(ngModel)]="job.companyEmail" maxlength="50" />
            <div [hidden]="!(editForm.controls.companyEmail?.dirty && editForm.controls.companyEmail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyEmail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.companyWebsite" for="field_companyWebsite">Company Website</label>
            <input type="text" class="form-control" name="companyWebsite" id="field_companyWebsite"
                [(ngModel)]="job.companyWebsite" maxlength="50" />
            <div [hidden]="!(editForm.controls.companyWebsite?.dirty && editForm.controls.companyWebsite?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyWebsite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.contactTitle" for="field_contactTitle">Contact Title</label>
            <input type="text" class="form-control" name="contactTitle" id="field_contactTitle"
                [(ngModel)]="job.contactTitle" maxlength="20" />
            <div [hidden]="!(editForm.controls.contactTitle?.dirty && editForm.controls.contactTitle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactTitle?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.contactFirstName" for="field_contactFirstName">Contact First Name</label>
            <input type="text" class="form-control" name="contactFirstName" id="field_contactFirstName"
                [(ngModel)]="job.contactFirstName" required maxlength="50" />
            <div [hidden]="!(editForm.controls.contactFirstName?.dirty && editForm.controls.contactFirstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactFirstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactFirstName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.contactLastName" for="field_contactLastName">Contact Last Name</label>
            <input type="text" class="form-control" name="contactLastName" id="field_contactLastName"
                [(ngModel)]="job.contactLastName" required maxlength="50" />
            <div [hidden]="!(editForm.controls.contactLastName?.dirty && editForm.controls.contactLastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactLastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactLastName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.contactPhone" for="field_contactPhone">Contact Phone</label>
            <input type="text" class="form-control" name="contactPhone" id="field_contactPhone"
                [(ngModel)]="job.contactPhone" maxlength="20" />
            <div [hidden]="!(editForm.controls.contactPhone?.dirty && editForm.controls.contactPhone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactPhone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.job.contactEmail" for="field_contactEmail">Contact Email</label>
            <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                [(ngModel)]="job.contactEmail" maxlength="50" />
            <div [hidden]="!(editForm.controls.contactEmail?.dirty && editForm.controls.contactEmail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactEmail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
