
<div *ngIf="job">
    <h2><span jhiTranslate="jobroomApp.job.detail.title">Job</span> {{job.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jobroomApp.job.externalId">External Id</span></dt>
        <dd>
            <span>{{job.externalId}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.publicationStartDate">Publication Start Date</span></dt>
        <dd>
            <span>{{job.publicationStartDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.publicationEndDate">Publication End Date</span></dt>
        <dd>
            <span>{{job.publicationEndDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.externalUrl">External Url</span></dt>
        <dd>
            <span>{{job.externalUrl}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.applicationUrl">Application Url</span></dt>
        <dd>
            <span>{{job.applicationUrl}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.registrationDate">Registration Date</span></dt>
        <dd>
            <span>{{job.registrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.cancellationDate">Cancellation Date</span></dt>
        <dd>
            <span>{{job.cancellationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.cancellationReason">Cancellation Reason</span></dt>
        <dd>
            <span>{{job.cancellationReason}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.title">Title</span></dt>
        <dd>
            <span>{{job.title}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.description">Description</span></dt>
        <dd>
            <span>{{job.description}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.workingTimePercentageMin">Working Time Percentage Min</span></dt>
        <dd>
            <span>{{job.workingTimePercentageMin}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.workingTimePercentageMax">Working Time Percentage Max</span></dt>
        <dd>
            <span>{{job.workingTimePercentageMax}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.startDate">Start Date</span></dt>
        <dd>
            <span>{{job.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.endDate">End Date</span></dt>
        <dd>
            <span>{{job.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.startsImmediately">Starts Immediately</span></dt>
        <dd>
            <span>{{job.startsImmediately}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.isPermanent">Is Permanent</span></dt>
        <dd>
            <span>{{job.isPermanent}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.fingerPrint">Finger Print</span></dt>
        <dd>
            <span>{{job.fingerPrint}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.numberOfJobs">Number Of Jobs</span></dt>
        <dd>
            <span>{{job.numberOfJobs}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.isJobSharing">Is Job Sharing</span></dt>
        <dd>
            <span>{{job.isJobSharing}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.isSuitableForDisabled">Is Suitable For Disabled</span></dt>
        <dd>
            <span>{{job.isSuitableForDisabled}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.text">Locality Text</span></dt>
        <dd>
            <span>{{job.locality.text}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.zipCode">Job Locality Zip Code</span></dt>
        <dd>
            <span>{{job.locality.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.communalCode">Locality Communal Code</span></dt>
        <dd>
            <span>{{job.locality.communalCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.cantonCode">Locality Canton Code</span></dt>
        <dd>
            <span>{{job.locality.cantonCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.regionCode">Locality Region Code</span></dt>
        <dd>
            <span>{{job.locality.regionCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.locality.countryCode">Locality Country Code</span></dt>
        <dd>
            <span>{{job.locality.countryCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.paymentMin">Payment Min</span></dt>
        <dd>
            <span>{{job.paymentMin}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.paymentMax">Payment Max</span></dt>
        <dd>
            <span>{{job.paymentMax}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.currencyCode">Currency Code</span></dt>
        <dd>
            <span>{{job.currencyCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.ageMin">Age Min</span></dt>
        <dd>
            <span>{{job.ageMin}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.ageMax">Age Max</span></dt>
        <dd>
            <span>{{job.ageMax}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.ageRestrictionReason">Age Restriction Reason</span></dt>
        <dd>
            <span>{{job.ageRestrictionReason}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'jobroomApp.Gender.' + job.gender}}">{{job.gender}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.hasPersonalVehicle">Has Personal Vehicle</span></dt>
        <dd>
            <span>{{job.hasPersonalVehicle}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.drivingLicenseLevel">Driving License Level</span></dt>
        <dd>
            <span>{{job.drivingLicenseLevel}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyName">Company Name</span></dt>
        <dd>
            <span>{{job.companyName}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyAddressLine1">Company Address Line 1</span></dt>
        <dd>
            <span>{{job.companyAddressLine1}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyAddressLine2">Company Address Line 2</span></dt>
        <dd>
            <span>{{job.companyAddressLine2}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyZipCode">Company Zip Code</span></dt>
        <dd>
            <span>{{job.companyZipCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyCity">Company City</span></dt>
        <dd>
            <span>{{job.companyCity}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyCountryCode">Company Country Code</span></dt>
        <dd>
            <span>{{job.companyCountryCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyPostboxNumber">Company Postbox Number</span></dt>
        <dd>
            <span>{{job.companyPostboxNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyPostboxZipCode">Company Postbox Zip Code</span></dt>
        <dd>
            <span>{{job.companyPostboxZipCode}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyPostboxCity">Company Postbox City</span></dt>
        <dd>
            <span>{{job.companyPostboxCity}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyPhone">Company Phone</span></dt>
        <dd>
            <span>{{job.companyPhone}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyEmail">Company Email</span></dt>
        <dd>
            <span>{{job.companyEmail}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.companyWebsite">Company Website</span></dt>
        <dd>
            <span>{{job.companyWebsite}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.contactTitle">Contact Title</span></dt>
        <dd>
            <span>{{job.contactTitle}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.contactFirstName">Contact First Name</span></dt>
        <dd>
            <span>{{job.contactFirstName}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.contactLastName">Contact Last Name</span></dt>
        <dd>
            <span>{{job.contactLastName}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.contactPhone">Contact Phone</span></dt>
        <dd>
            <span>{{job.contactPhone}}</span>
        </dd>
        <dt><span jhiTranslate="jobroomApp.job.contactEmail">Contact Email</span></dt>
        <dd>
            <span>{{job.contactEmail}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
