/* ==========================================================================
Main page styles
========================================================================== */

@import '../../content/scss/jbr2_variables.scss';

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}
.background--jobseeker,
.background--companies,
.background--pea {
    min-height: 100vh;
}

.background--jobseeker {
    background: url("../../content/images/bg-jobseeker.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background--companies {
    background: url("../../content/images/bg-companies.jpeg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.background--pea {
    background: url("../../content/images/bg-pea.jpeg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mobile-toggle {
    cursor: pointer;
}

/*Edge*/
@supports (-ms-ime-align:auto) {
    .navbar-brand {
        background: red !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .background--jobseeker,
    .background--companies,
    .background--pea {
        background-attachment: scroll !important;
    }
}
