<div class="jumbotron jumbotron-fluid jumbotron--has-toolbar jumbotron--job-room">

    <jr2-toolbar>
        <li class="nav-title">
            <h2 class="light">
                {{'home.toolbar.title' | translate}}
            </h2>
        </li>
        <jr2-toolbar-item [icon]="'binoculars'" [active]="toolbarTab == ToolbarTab.JobSeekers" (select)="select(ToolbarTab.JobSeekers)">
            {{'home.toolbar.jobSeekers' | translate}}
        </jr2-toolbar-item>
        <jr2-toolbar-item [icon]="'building'" [active]="toolbarTab == ToolbarTab.Companies" (select)="select(ToolbarTab.Companies)">
            {{'home.toolbar.companies' | translate}}
        </jr2-toolbar-item>
        <jr2-toolbar-item [icon]="'eye'" [active]="toolbarTab == ToolbarTab.RecruitmentAgencies" (select)="select(ToolbarTab.RecruitmentAgencies)">
            {{'home.toolbar.recruitmentAgencies' | translate}}
        </jr2-toolbar-item>
    </jr2-toolbar>

    <div class="container" [ngSwitch]="toolbarTab">
        <div *ngSwitchCase="ToolbarTab.JobSeekers" id="job-seekers">
            <h1 class="tool__heading">{{'home.tool.jobSearch.title' | translate}}</h1>

            <div class="row">
                <div class="col-sm-4">
                    <jr2-job-search-tool [jobSearchToolModel]="jobSearchToolModel$ | async"></jr2-job-search-tool>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="ToolbarTab.Companies" id="companies">
            <jr2-home-services [activeTab]="ToolsTab.JobPublication"></jr2-home-services>
        </div>

        <div *ngSwitchCase="ToolbarTab.RecruitmentAgencies" id="recruitment-agencies">
            <jr2-home-services [activeTab]="ToolsTab.CandidateSearch"></jr2-home-services>
        </div>
    </div>
</div>
