<div class="jumbotron jumbotron-fluid jumbotron--has-toolbar jumbotron--job-room">

    <jr2-toolbar>
        <li class="nav-title">
            <h2 class="light">
                {{'home.toolbar.title' | translate}}
            </h2>
        </li>
        <jr2-toolbar-item [icon]="'binoculars'" [active]="(activeToolbarItem$ | async) == ToolbarItem.JOB_SEEKERS"
                          (select)="selectToolbarItem(ToolbarItem.JOB_SEEKERS)">
            {{'home.toolbar.jobSeekers' | translate}}
        </jr2-toolbar-item>
        <jr2-toolbar-item [icon]="'building'" [active]="(activeToolbarItem$ | async) == ToolbarItem.COMPANIES"
                          (select)="selectToolbarItem(ToolbarItem.COMPANIES)">
            {{'home.toolbar.companies' | translate}}
        </jr2-toolbar-item>
        <jr2-toolbar-item [icon]="'eye'" [active]="(activeToolbarItem$ | async) == ToolbarItem.RECRUITMENT_AGENCIES"
                          (select)="selectToolbarItem(ToolbarItem.RECRUITMENT_AGENCIES)">
            {{'home.toolbar.recruitmentAgencies' | translate}}
        </jr2-toolbar-item>
    </jr2-toolbar>

    <div class="container" [ngSwitch]="activeToolbarItem$ | async">

        <div *ngSwitchCase="ToolbarItem.JOB_SEEKERS" id="job-seekers">
            <h1 class="tool__heading">{{'home.tools.jobSearch.title' | translate}}</h1>
            <div class="row">
                <div class="col">
                    <jr2-job-search-tool [jobSearchToolModel]="jobSearchToolModel$ | async"></jr2-job-search-tool>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="ToolbarItem.COMPANIES" id="companies">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <ngb-tabset type="tabs nav--job-room" (tabChange)="selectCompaniesTab($event)" [activeId]="activeCompanyTabId$ | async">
                        <ngb-tab [title]="'home.tools.jobPublicationTab'| translate" id="company-job-publication">
                            <ng-template ngbTabContent>
                                <jr2-job-publication-tool></jr2-job-publication-tool>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab [title]="'home.tools.candidateSearchTab' | translate" id="company-candidate-search">
                            <ng-template ngbTabContent>
                                <jr2-candidate-search-tool [candidateSearchToolModel]="candidateSearchToolModel$ | async"></jr2-candidate-search-tool>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="ToolbarItem.RECRUITMENT_AGENCIES" id="agencies">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <ngb-tabset type="tabs nav--job-room" (tabChange)="selectRecruitmentAgenciesTab($event)" [activeId]="activeAgencyTabId$ | async">
                        <ngb-tab [title]="'home.tools.candidateSearchTab'| translate" id="agency-candidate-search">
                            <ng-template ngbTabContent>
                                <jr2-candidate-search-tool [candidateSearchToolModel]="candidateSearchToolModel$ | async"></jr2-candidate-search-tool>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab [title]="'home.tools.jobPublicationTab' | translate" id="agency-job-publication">
                            <ng-template ngbTabContent>
                                <jr2-job-publication-tool></jr2-job-publication-tool>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
