<div class="logo-box flex-height result-list__item md-whiteframe-1dp">

    <div class="d-flex w-100 justify-content-between mb-1">
        <h4 class="text--primary-color"><a [routerLink]="['job-detail', job.id]"
                                           [innerHtml]="job.title | safeHtml"></a></h4>
        <div>
            <small style="vertical-align: text-top;">{{job.registrationDate | jr2Date}}</small>
        </div>
    </div>

    <div>
        <span class="text--primary-color">{{job.company.name}}</span>
        <span class="badge badge-blue">{{job.locality?.text}}</span>
        <span class="badge badge-gray">{{[job.workingTimePercentageMin, job.workingTimePercentageMax] | workingTimeRange}}</span>
        <span class="badge badge-green" *ngIf="job.permanent">{{'job-search.job-search-list-item.badge.permanent' | translate}}</span>
        <span class="badge badge-yellow" *ngIf="!job.permanent">{{'job-search.job-search-list-item.badge.temporary' | translate}}</span>
    </div>

    <div class="line-clamp" [innerHtml]="job.description | safeHtml"></div>

</div>
