<div class="logo-box flex-height result-list__item md-whiteframe-1dp">

    <div class="d-flex w-100 justify-content-between mb-1">
        <h4 class="text--primary-color"><a [routerLink]="['/job-detail', job.id]">{{job.title}}</a></h4>
        <div>
            <small style="vertical-align: text-top;">{{job.registrationDate | jr2Date}}</small>
            <div style="display: inline-block; padding: 0 10px; font-size: 1.25em;" class="text--primary-color">
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div>
        <span class="text--primary-color">{{job.company.name}}</span>
        <span class="badge badge-primary">{{job.locality.text}}</span>
        <span class="badge badge-success" *ngIf="!job.isPermanent">{{'job-search.job-search-list-item.badge.permanent' | translate}}</span>
    </div>

    <p>{{getShortDescription(job.description)}}</p>

</div>
