.line-clamp {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    height: 3em;
}

@supports (-webkit-line-clamp: 2) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: auto;
    }
    .line-clamp:after {
        display: none;
    }
}
