<jr2-job-search-toolbar jhiStickyToolbarItem [total]="totalCount"></jr2-job-search-toolbar>

<div class="container">

    <div class="base">

        <div class="base__subnavbar">

            <jr2-job-search-filter></jr2-job-search-filter>

        </div>

        <div class="base__content--wide">

            <h3 class="text--light">{{totalCount}} {{ terms }} Jobs in Zürich (Kanton)</h3>

            <jr2-job-search-list-item *ngFor="let job of jobList" [job]="job"></jr2-job-search-list-item>

        </div>

    </div>

</div>
