@media screen and (max-width: 767px){
    .p-sm-relative {
        position: relative;
        z-index: 500;
    }

    .base__subnavbar {
        flex-basis: 100%;
        max-width: 100%;

        .sticky-top {
            z-index: 100 !important;
        }
    }

    .base__content--wide {
        order: 2;
    }
}
