<jr2-job-search-toolbar [searchQuery]="searchQuery$ | async"
                        [loading]="loading$ | async"></jr2-job-search-toolbar>

<div class="container">

    <div class="base">

        <div class="base__subnavbar">
            <jr2-job-search-sidebar></jr2-job-search-sidebar>
        </div>

        <div class="base__content--wide">
            <jr2-job-search-list *ngIf="initialized$ | async"
                                 [jobList]="jobList$ | async"
                                 [totalCount]="totalCount$ | async"
                                 [baseQueryString]="baseQueryString$ | async"
                                 [localityQueryString]="localityQueryString$ | async"></jr2-job-search-list>

        </div>

    </div>

</div>

