<jr2-job-search-toolbar jhiStickyToolbarItem [total]="totalCount$ | async"
                        [baseQueryModel]="baseQueryModel$ | async"
                        [localityQueryModel]="localityQueryModel$ | async"></jr2-job-search-toolbar>

<div class="container">

    <div class="base">

        <div class="base__subnavbar">

            <jr2-job-search-filter></jr2-job-search-filter>

        </div>

        <div class="base__content--wide">
            <jr2-job-search-list [jobList]="jobList$ | async"
                                 [totalCount]="totalCount$ | async"
                                 [baseQueryString]="baseQueryString$ | async"
                                 [localityQueryString]="localityQueryString$ | async"></jr2-job-search-list>

        </div>

    </div>

</div>

