<div class="base dashboard">
    <div class="base__content--wide">
        <div class="alv-logo-box md-whiteframe-1dp">
            <h2 class="dashboard__title text--light">
                <span class="dashboard__icon"><span class="fa fa-table" aria-hidden="true"></span></span>
                {{ 'dashboard.job-publication.title' | translate }}
            </h2>

            <div class="dashboard__actions">
                <form [formGroup]="jobFilterForm" #jobFilter="ngForm" (ngSubmit)="filter()" class="form-inline">
                    <div class="form-group">
                        <label for="table-search" class="sr-only">{{ 'dashboard.job-publication.job-name.placeholder' | translate }}</label>
                        <div class="form-group--icon">
                            <input formControlName="jobTitle" id="table-search" class="form-control" placeholder="{{ 'dashboard.job-publication.job-name.placeholder' | translate }}">
                            <span class="fa-stack form-control--icon" (click)="jobFilter.ngSubmit.emit()">
								<span aria-hidden="true" class="fa fa-search fa-stack-1x"></span>
							</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="filter-age" class="col-form-label">{{ 'dashboard.job-publication.publication-period.label' | translate }}</label>
                        <div>
                            <select formControlName="onlineSinceDays" (change)="jobFilter.ngSubmit.emit()" class="form-control custom-select" id="filter-age">
                                <option [ngValue]="7">{{ 'dashboard.job-publication.publication-period.week' | translate:'{ week: 1 }' }}</option>
                                <option [ngValue]="30">{{ 'dashboard.job-publication.publication-period.month' | translate:'{ month: 1 }' }}</option>
                                <option [ngValue]="90">{{ 'dashboard.job-publication.publication-period.months' | translate:'{ months: 3 }' }}</option>
                                <option [ngValue]="180">{{ 'dashboard.job-publication.publication-period.months' | translate:'{ months: 6 }' }}</option>
                                <option [ngValue]="365">{{ 'dashboard.job-publication.publication-period.year' | translate:'{ years: 1 }' }}</option>
                                <option [ngValue]="null">{{ 'dashboard.job-publication.publication-period.all' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="dashboard__content--table">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'dashboard.job-publication.job-room-id' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.avam' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.publication-date' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.job-title' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.location' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.status' | translate }}</th>
                            <th scope="col">{{ 'dashboard.job-publication.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jobPublication of jobPublicationList">
                            <th scope="row">{{ jobPublication.id }}</th>
                            <td>{{ jobPublication.idAvam }}</td>
                            <td>{{ jobPublication.creationDate | date:'dd.MM.yyyy' }}</td>
                            <td>{{ jobPublication.job.title }}</td>
                            <td>{{ jobPublication.job.location.city }}</td>
                            <td>{{ 'global.job-publication.status.' + jobPublication.status | translate }}</td>
                            <td>
                                <div class="actions">
                                    <a routerLink="/job-publication-detail/{{jobPublication.id}}?accessToken={{jobPublication.accessToken}}" [attr.aria-label]="'dashboard.job-publication.action.view' | translate" data-toggle="tooltip" data-placement="top" [title]="'dashboard.job-publication.action.view' | translate">
                                        <span class="fa fa-fw fa-eye" aria-hidden="true"></span>
                                    </a>
                                    <a [routerLink]="['/agents/jobpublication', { jobPublicationId: jobPublication.id, accessToken: jobPublication.accessToken }]" [attr.aria-label]="'dashboard.job-publication.action.copy' | translate" data-toggle="tooltip" data-placement="top" [title]="'dashboard.job-publication.action.copy' | translate">
                                        <span class="fa fa-fw fa-clone" aria-hidden="true"></span>
                                    </a>
                                    <a *ngIf="isJobPublicationCancellable(jobPublication.status)" (click)="showCancellationDialog(jobPublication.id, jobPublication.accessToken)" [attr.aria-label]="'dashboard.job-publication.action.delete' | translate" data-toggle="tooltip" data-placement="top" [title]="'dashboard.job-publication.action.delete' | translate">
                                        <span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ngb-pagination class="pagination-alv__table"
                                    [collectionSize]="totalCount"
                                    [maxSize]="10"
                                    [page]="page + 1"
                                    (pageChange)="changePage($event)"
                                    [pageSize]="PAGE_SIZE"></ngb-pagination>
                </nav>
            </div>
        </div>
    </div>
    <div *ngIf="identity$ | async as identity" class="base__related">
        <div class="dashboard__subtitle">{{ 'dashboard.job-publication.user-information.title' | translate }}</div>
        <strong>{{ identity.firstName }} {{ identity.lastName }}</strong><br>
        {{ (organization$ | async)?.name }}
    </div>
</div>
