/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*=================================================================================
Print configuration
=================================================================================== */

@import 'print.scss';
@import 'jbr2_variables.scss';

/* jhipster-needle-scss-add-main JHipster will add new css style */

button.close {
    cursor: pointer;
}

div.main {
    min-height: 100vh;
    margin-bottom: -61px;
}

div.main:after {
    content: "";
    display: block;
}

footer,
.footer,
div.main:after {
    height: 61px;
}

footer,
.footer {
    bottom: 0;
    width: 100%;
}


@media screen and (min-width: 480px) {
    .base__sticky-panel {
        position: sticky;
        position: -webkit-sticky;  // required for Safari
        top: 155px;
    }
}

.line-clamp {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    height: 3em;
}

@supports (-webkit-line-clamp: 2) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: auto;
    }
    .line-clamp:after {
        display: none;
    }
}

/*=================================================================================
Toolbar (alv-styleguide)
=================================================================================== */

.sticked--top .toolbar-form,
.sticky-top .toolbar-form {
    margin-top: 0;
    padding-top: 2.5rem;
}

@media screen and (min-width: 480px){
    body:not(.has-jumbotron) .jumbotron,
    body:not(.has-toolbar) .toolbar.sticked--top {
        margin-top: -($header-margin);
    }

    body:not(.has-toolbar) .toolbar.sticked--top {
        top: ($header-alv-height + $header-navbar-height);
    }
}
