/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*=================================================================================
Print configuration
=================================================================================== */

@import 'print.scss';

/* jhipster-needle-scss-add-main JHipster will add new css style */

button.close {
    cursor: pointer;
}
