/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*=================================================================================
Print configuration
=================================================================================== */

@import 'print.scss';

/* jhipster-needle-scss-add-main JHipster will add new css style */

button.close {
    cursor: pointer;
}

html, body {
    margin: 0px;
}

div.main {
    min-height: 100vh;
    margin-bottom: -61px;
}

div.main:after {
    content: "";
    display: block;
}

footer,
.footer,
div.main:after {
    height: 61px;
}

footer,
.footer {
    bottom: 0;
    width: 100%;
}
