<fieldset class="candidate-search">
  <legend>Stellenbeschreibung</legend>

  <div class="form-group">
    <label for="basic-addon2">Stellenbezeichnung</label>
    <div class="form-group--icon">
      <input type="text" class="form-control" placeholder="z.B. Maurer" id="basic-addon2">

      <a href="#" class="fa-stack form-control--icon">
        <i class="fa fa-search fa-stack-1x"></i>
      </a>
    </div>
  </div>

  <div class="form-group">
    <label for="cs-8" class="col-form-label">Abschluss</label>
    <div>
      <select class="form-control custom-select" id="cs-8">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <a class="btn btn-primary btn-lg" href="#">Job publizieren</a>
</fieldset>
<div class="candidate-search__radar">
  <!--
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    -->

  Diesem Job-Profil enstprechen bereits<br>
  <span class="badge badge-radar">1'644</span><br>
  Stellensuchenden
  <a href="#">Jetzt anzeigen!</a>
</div>
