.job-publication__radar {
    position: sticky;
    top: 100px;
    z-index: 1000;
}

/deep/ .form-control.ng-invalid {
    border-left: 5px solid #a94442;
}

.date__input {
    margin: 0;
    &:enabled {
        background-color: #ffffff;
    }
}

/deep/ .d-inline-block select {
    margin: 0;
}
