<jr2-candidate-search-toolbar [totalCount]="totalCount$ | async"
                              [loading]="loading$ | async"
                              [searchFilter]="searchFilter$ | async"
                              (searchCandidates)="searchCandidates($event)"
                              jhiStickyToolbarItem></jr2-candidate-search-toolbar>

<div class="container">
    <div class="base">
        <div class="base__subnavbar">
            <jr2-candidate-search-filter [searchFilter]="searchFilter$ | async"></jr2-candidate-search-filter>
        </div>

        <div class="base__content--wide">
        </div>
    </div>
</div>
