@import '../../../../content/scss/jbr2_variables.scss';

.candidate-search__radar {
    width: 25%;

    .btn-link {
        font-weight: 700;
        margin-top: $margin-x-narrow;
        color: transparent;
        cursor: pointer;
    }

    &:hover .btn-link {
        color: #ffffff;
    }
}

@media screen and (max-width: 767px){
    .candidate-search__radar {
        display: none;
    }
}
