<fieldset class="candidate-search">
  <div class="form-group">
    <label for="example-text-input" class="col-form-label">Ich suche eine/n</label>
    <div>
      <input class="form-control" type="text" id="example-text-input" placeholder="Berufsbezeichung">
    </div>
  </div>

  <div class="form-group">
    <label for="cs-1" class="col-form-label">Kenntnisse, Fähigkeiten, Skills</label>
    <div>
      <input class="form-control" type="text" id="cs-1" placeholder="z.B. Tiefbau">
    </div>
  </div>

  <div class="form-group form-group--break">
    <label for="sort" class="col-form-label">Berufserfahrung</label>
    <div>
      <select class="form-control custom-select" id="sort">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="cs-2" class="col-form-label">Arbeitsort</label>
    <div>
      <input class="form-control" type="text" id="cs-2" placeholder="Ort, Gemeinde, Kanton, PLZ">
    </div>
  </div>
  <div class="form-group form-group--break">
    <label for="cs-3" class="col-form-label">Wohnort</label>
    <div>
      <input class="form-control" type="text" id="cs-3" placeholder="Ort, Gemeinde, Kanton, PLZ">
    </div>
  </div>

  <div class="form-group">
    <label for="cs-4" class="col-form-label">Verfügbarkeit</label>
    <div>
      <select class="form-control custom-select" id="cs-4">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cs-5" class="col-form-label">Arbeitspensum</label>
    <div>
      <select class="form-control custom-select" id="cs-5">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cs-6" class="col-form-label">Arbeitsform</label>
    <div>
      <select class="form-control custom-select" id="cs-6">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cs-7" class="col-form-label">Bildungsstufe</label>
    <div>
      <select class="form-control custom-select" id="cs-7">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="cs-8" class="col-form-label">Abschluss</label>
    <div>
      <select class="form-control custom-select" id="cs-8">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group form-group--break">
    <label for="cs-9" class="col-form-label">Führerausweiskategorie</label>
    <div>
      <select class="form-control custom-select" id="cs-9">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="cs-10" class="col-form-label">Sprachkenntnisse</label>
    <div>
      <select class="form-control custom-select" id="cs-10">
        <option selected="">keine Auswahl</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <a class="btn btn-primary btn-lg" href="#">Kandidaten anzeigen (1'644)</a>
</fieldset>

<div class="candidate-search__radar">
  <!--
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    -->

  Diesem Job-Profil enstprechen bereits<br>
  <span class="badge badge-radar">1'644</span><br>
  Stellensuchenden
  <a href="#">Jetzt anzeigen!</a>
</div>
