<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="reset.request.title">Reset your password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.request.messages.notfound"
                 *ngIf="errorUsernameNotExists">
                <strong>Username isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p jhiTranslate="reset.request.messages.info">Enter your username.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="username"
                           jhiTranslate="global.form.username">Username</label>
                    <input type="username" class="form-control" id="username" name="username"
                           placeholder="{{'global.form.username.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.username" minlength=5 maxlength=50 #usernameInput="ngModel"
                           required>
                    <div *ngIf="usernameInput.dirty && usernameInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="usernameInput.errors.required"
                               jhiTranslate="global.messages.validate.username.required">
                            Your username is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="usernameInput.errors.username"
                               jhiTranslate="global.messages.validate.username.invalid">
                            Your username is invalid.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="usernameInput.errors.minlength"
                               jhiTranslate="global.messages.validate.username.minlength">
                            Your username is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="usernameInput.errors.maxlength"
                               jhiTranslate="global.messages.validate.username.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button>
            </form>

        </div>
    </div>
</div>
