<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrganizationLabel" jhiTranslate="jobroomApp.organization.home.createOrEditLabel">Create or edit a Organization</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!organization.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="organization.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.externalId" for="field_externalId">External Id</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                [(ngModel)]="organization.externalId" required maxlength="12"/>
            <div [hidden]="!(editForm.controls.externalId?.dirty && editForm.controls.externalId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.externalId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 12 }">
                   This field cannot be longer than 12 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="organization.name" required maxlength="150"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="organization.street" maxlength="50"/>
            <div [hidden]="!(editForm.controls.street?.dirty && editForm.controls.street?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.street?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="organization.zipCode" maxlength="4"/>
            <div [hidden]="!(editForm.controls.zipCode?.dirty && editForm.controls.zipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="organization.city" maxlength="50"/>
            <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.city?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="organization.email" maxlength="50"/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="organization.phone" maxlength="20"/>
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="organization.type" id="field_type" >
                <option value="AVG">{{'jobroomApp.CompanyType.AVG' | translate}}</option>
                <option value="RAV">{{'jobroomApp.CompanyType.RAV' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobroomApp.organization.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="organization.active" />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
